<div class="max-w-4xl mx-auto">
  <div class="">
    <!-- Header -->
    <div class="mb-5 flex flex-wrap justify-between items-center gap-3">
      <!-- Heading -->
      <div class="flex items-center gap-x-4">
        <span class="shrink-0 relative size-14">
          <img
            class="shrink-0 size-14"
            src="/logos/creceideas/ci.svg"
            alt="Img Empresa"
          />
        </span>

        <div class="grow">
          <p
            class="text-2xl md:text-3xl font-semibold text-core-dark dark:text-white"
          >
            creceideas ltda
          </p>
          <p
            class="text-md md:text-xl font-semibold text-core-dark dark:text-white"
          >
            Orden de compra - $350.000 + IVA
          </p>
        </div>
      </div>
      <!-- End Heading -->

      <!-- Button Group -->
      <div class="flex flex-wrap gap-2">
        <!-- Button -->
        <a
          class="py-2 px-3 inline-flex items-center gap-x-1.5 text-sm font-medium rounded-xl border border-transparent bg-core-primary text-core-dark hover:opacity-80 disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-core-primary"
          href="../../pro/payment/send.html"
        >
          <svg
            class="shrink-0 size-4"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M7 7h10v10"></path>
            <path d="M7 17 17 7"></path>
          </svg> Enviar
        </a>
        <!-- End Button -->

        <!-- Button -->
        <a
          class="py-2 px-3 inline-flex items-center gap-x-1.5 text-sm font-medium rounded-xl border border-core-gray bg-core-light text-core-dark shadow-2xs hover:bg-core-light disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-core-light dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
          href="../../pro/payment/request.html"
        >
          <svg
            class="shrink-0 size-4"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M17 7 7 17"></path>
            <path d="M17 17H7V7"></path>
          </svg> Guardar a Periodo
        </a>
        <!-- End Button -->

        <!-- Button -->
        <button
          type="button"
          class="py-1.5 px-2.5 inline-flex items-center gap-x-1.5 text-sm font-medium rounded-xl border border-core-gray bg-core-light text-core-dark shadow-2xs hover:bg-core-light disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-core-light dark:bg-neutral-900 dark:border-neutral-700 dark:text-core-dark dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
        >
          <svg
            class="shrink-0 size-4"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M3 6h18"></path>
            <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"></path>
            <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"></path>
            <line x1="10" x2="10" y1="11" y2="17"></line>
            <line x1="14" x2="14" y1="11" y2="17"></line>
          </svg> Eliminar
        </button>
        <!-- End Button -->
      </div>
      <!-- End Button Group -->
    </div>
    <!-- End Header -->

    <div class="flex flex-col gap-y-8">
      <!-- Card -->
      <div
        class="bg-core-light border border-core-gray rounded-2xl dark:bg-neutral-900 dark:border-neutral-700"
      >
        <!-- Heading -->
        <div class="py-3 px-4 border-b border-core-gray dark:border-neutral-700">
          <h2 class="font-medium text-core-dark dark:text-neutral-200">
            Configuraci칩n
          </h2>
        </div>
        <!-- End Heading -->

        <!-- Body -->
        <div class="py-1 px-4">
          <!-- List -->
          <div class="-mx-3 flex flex-col gap-y-1">
            <!-- Switch/Toggle -->
            <label
              for="hs-pro-pysw1"
              class="py-2 px-3 group flex justify-between items-center gap-x-3 cursor-pointer hover:bg-core-light rounded-2xl dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
            >
              <span class="grow">
                <span class="flex items-center gap-x-3">
                  <span
                    class="shrink-0 size-11 inline-flex justify-center items-center bg-core-light text-core-dark rounded-full group-hover:bg-core-gray group-focus:bg-core-gray dark:bg-neutral-700 dark:text-neutral-300 dark:bg-neutral-800 dark:group-hover:bg-neutral-700 dark:group-focus:bg-neutral-700"
                  >
                    <svg
                      class="shrink-0 size-5"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path d="M8 3 4 7l4 4"></path>
                      <path d="M4 7h16"></path>
                      <path d="m16 21 4-4-4-4"></path>
                      <path d="M20 17H4"></path>
                    </svg>
                  </span>
                  <span class="grow">
                    <span
                      class="block text-sm text-core-dark dark:text-neutral-200"
                    >
                      <span class="font-medium">Genera movimiento de stock</span
                      >
                    </span>
                    <span
                      class="block text-sm text-core-gray dark:text-neutral-500"
                    >
                      Este documento, crea un movimiento en la cantidad de
                      productos en el stock.
                    </span>
                  </span>
                </span>
              </span>

              <span class="block">
                <span class="relative inline-block w-11 h-6 cursor-pointer">
                  <input
                    type="checkbox"
                    id="hs-pro-pysw1"
                    class="peer sr-only"
                  />
                  <span
                    class="absolute inset-0 bg-core-gray rounded-full transition-colors duration-200 ease-in-out peer-checked:bg-core-primary dark:bg-neutral-700 dark:peer-checked:bg-core-primary peer-disabled:opacity-50 peer-disabled:pointer-events-none"
                  ></span>
                  <span
                    class="absolute top-1/2 start-0.5 -translate-y-1/2 size-5 bg-core-light rounded-full shadow-sm transition-transform duration-200 ease-in-out peer-checked:translate-x-full dark:bg-neutral-400 dark:peer-checked:bg-core-light"
                  ></span>
                </span>
              </span>
            </label>
            <!-- End Switch/Toggle -->

            <!-- Switch/Toggle -->
            <label
              for="hs-pro-pysw2"
              class="py-2 px-3 group flex justify-between items-center gap-x-3 cursor-pointer hover:bg-core-light rounded-2xl dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
            >
              <span class="grow">
                <span class="flex items-center gap-x-3">
                  <span
                    class="shrink-0 size-11 inline-flex justify-center items-center bg-core-light text-core-dark rounded-full group-hover:bg-core-gray group-focus:bg-core-gray dark:bg-neutral-700 dark:text-neutral-300 dark:bg-neutral-800 dark:group-hover:bg-neutral-700 dark:group-focus:bg-neutral-700"
                  >
                    <svg
                      class="shrink-0 size-5"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path
                        d="M3.85 8.62a4 4 0 0 1 4.78-4.77 4 4 0 0 1 6.74 0 4 4 0 0 1 4.78 4.78 4 4 0 0 1 0 6.74 4 4 0 0 1-4.77 4.78 4 4 0 0 1-6.75 0 4 4 0 0 1-4.78-4.77 4 4 0 0 1 0-6.76Z"
                      ></path>
                      <path d="M16 8h-6a2 2 0 1 0 0 4h4a2 2 0 1 1 0 4H8"></path>
                      <path d="M12 18V6"></path>
                    </svg>
                  </span>
                  <span class="grow">
                    <span
                      class="block text-sm text-core-dark dark:text-neutral-200"
                    >
                      <span class="font-medium"
                        >Marcar como documento pagado</span
                      >
                    </span>
                    <span
                      class="block text-sm text-core-gray dark:text-neutral-500"
                    >
                      Al crear este documento se considerar치 como pagado y no se
                      podr치 editar.
                    </span>
                  </span>
                </span>
              </span>

              <span class="block">
                <span class="relative inline-block w-11 h-6 cursor-pointer">
                  <input
                    type="checkbox"
                    id="hs-pro-pysw2"
                    class="peer sr-only"
                  />
                  <span
                    class="absolute inset-0 bg-core-gray rounded-full transition-colors duration-200 ease-in-out peer-checked:bg-core-primary dark:bg-neutral-700 dark:peer-checked:bg-core-primary peer-disabled:opacity-50 peer-disabled:pointer-events-none"
                  ></span>
                  <span
                    class="absolute top-1/2 start-0.5 -translate-y-1/2 size-5 bg-core-light rounded-full shadow-sm transition-transform duration-200 ease-in-out peer-checked:translate-x-full dark:bg-neutral-400 dark:peer-checked:bg-core-light"
                  ></span>
                </span>
              </span>
            </label>
            <!-- End Switch/Toggle -->

            <!-- Switch/Toggle -->
            <label
              for="hs-pro-pysw4"
              class="py-2 px-3 group flex justify-between items-center gap-x-3 cursor-pointer hover:bg-core-light rounded-2xl dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
            >
              <span class="grow">
                <span class="flex items-center gap-x-3">
                  <span
                    class="shrink-0 size-11 inline-flex justify-center items-center bg-core-light text-core-dark rounded-full group-hover:bg-core-gray group-focus:bg-core-gray dark:bg-neutral-700 dark:text-neutral-300 dark:bg-neutral-800 dark:group-hover:bg-neutral-700 dark:group-focus:bg-neutral-700"
                  >
                    <svg
                      class="shrink-0 size-5"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path
                        d="M20 13c0 5-3.5 7.5-7.66 8.95a1 1 0 0 1-.67-.01C7.5 20.5 4 18 4 13V6a1 1 0 0 1 1-1c2 0 4.5-1.2 6.24-2.72a1.17 1.17 0 0 1 1.52 0C14.51 3.81 17 5 19 5a1 1 0 0 1 1 1z"
                      ></path>
                      <path d="m9 12 2 2 4-4"></path>
                    </svg>
                  </span>
                  <span class="grow">
                    <span
                      class="block text-sm text-core-dark dark:text-neutral-200"
                    >
                      <span class="font-medium">Acceso abierto</span>
                    </span>
                    <span
                      class="block text-sm text-core-gray dark:text-neutral-500"
                    >
                      Permitir visualizaci칩n y pago online del documento.
                    </span>
                  </span>
                </span>
              </span>

              <span class="block">
                <span class="relative inline-block w-11 h-6 cursor-pointer">
                  <input
                    type="checkbox"
                    id="hs-pro-pysw4"
                    class="peer sr-only"
                  />
                  <span
                    class="absolute inset-0 bg-core-gray rounded-full transition-colors duration-200 ease-in-out peer-checked:bg-core-primary dark:bg-neutral-700 dark:peer-checked:bg-core-primary peer-disabled:opacity-50 peer-disabled:pointer-events-none"
                  ></span>
                  <span
                    class="absolute top-1/2 start-0.5 -translate-y-1/2 size-5 bg-core-light rounded-full shadow-sm transition-transform duration-200 ease-in-out peer-checked:translate-x-full dark:bg-neutral-400 dark:peer-checked:bg-core-light"
                  ></span>
                </span>
              </span>
            </label>
            <!-- End Switch/Toggle -->
          </div>
          <!-- End List -->
        </div>
        <!-- End Body -->
      </div>
      <!-- End Card -->

      <!-- Card -->
      <div
        class="bg-core-light border border-core-gray rounded-2xl dark:bg-neutral-900 dark:border-neutral-700"
      >
        <!-- Heading -->
        <div class="py-3 px-4 border-b border-core-gray dark:border-neutral-700">
          <h2 class="font-medium text-core-dark dark:text-neutral-200">
            Transactions
          </h2>
        </div>
        <!-- End Heading -->

        <!-- Body -->
        <div class="py-1 px-4">
          <!-- List -->
          <div class="-mx-3">
            <!-- Link -->
            <a
              class="p-3 group w-full flex items-center gap-x-4 text-start rounded-2xl hover:bg-core-light focus:outline-hidden focus:bg-core-light dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
              href="../../pro/payment/transactions.html"
            >
              <span class="shrink-0 relative size-11">
                <span
                  class="shrink-0 size-11 inline-flex justify-center items-center bg-core-light text-core-dark rounded-full group-hover:bg-core-gray group-focus:bg-core-gray dark:text-neutral-300 dark:bg-neutral-800 dark:group-hover:bg-neutral-700 dark:group-focus:bg-neutral-700"
                >
                  <svg
                    class="shrink-0 size-5"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path d="M8 3 4 7l4 4"></path>
                    <path d="M4 7h16"></path>
                    <path d="m16 21 4-4-4-4"></path>
                    <path d="M20 17H4"></path>
                  </svg>
                </span>
              </span>
              <span class="grow">
                <span
                  class="block font-medium text-core-dark dark:text-neutral-200"
                >
                  <span class="text-sm">Recent transactions</span>
                </span>
                <span class="block text-sm text-core-gray dark:text-neutral-500">
                  See your recent transactions with Isabella.
                </span>
              </span>
              <svg
                class="shrink-0 size-4.5 ms-auto text-core-dark dark:text-neutral-200"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="m9 18 6-6-6-6"></path>
              </svg>
            </a>
            <!-- End Link -->
          </div>
          <!-- End List -->
        </div>
        <!-- End Body -->
      </div>
      <!-- End Card -->
    </div>
  </div>
</div>
