---
import SelectClient from "./SelectClient.astro";
import Detail from "./Detail.astro";
import Config from "./Config.astro";
---

<main
  id="content"
  class="md:ps-0 lg:ps-40 mainmenu-open:pt-10 2xl:hs-overlay-layout-open:pe-2 xl:ps-80 transition-all duration-300"
>
  <div class="max-w-4xl mx-auto py-5 sm:py-10 px-5 md:px-8 2xl:px-5">
    <!-- Stepper -->
    <div data-hs-stepper="">
      <!-- Stepper Nav -->
      <ul class="relative flex flex-row gap-x-2">
        <li
          class="flex items-center gap-x-2 shrink basis-0 flex-1 group"
          data-hs-stepper-nav-item='{
        "index": 1
      }'
        >
          <span
            class="min-w-7 min-h-7 group inline-flex items-center text-xs align-middle"
          >
            <span
              class="size-7 flex justify-center items-center shrink-0 bg-core-light font-medium text-core-dark rounded-full group-focus:bg-core-gray dark:bg-neutral-700 dark:text-white dark:group-focus:bg-neutral-600 hs-stepper-active:bg-core-primary hs-stepper-active:text-core-dark hs-stepper-success:bg-core-primary hs-stepper-success:text-white hs-stepper-completed:bg-core-primary hs-stepper-completed:group-focus:bg-core-primary dark:hs-stepper-active:bg-core-primary dark:hs-stepper-success:bg-core-primary dark:hs-stepper-completed:bg-core-primary dark:hs-stepper-completed:group-focus:bg-core-primary"
            >
              <span
                class="hs-stepper-success:hidden hs-stepper-completed:hidden"
                >1</span
              >
              <svg
                class="hidden shrink-0 size-3 hs-stepper-success:block"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <polyline points="20 6 9 17 4 12"></polyline>
              </svg>
            </span>
            <span
              class="ms-2 text-sm font-medium text-core-dark dark:text-white"
            >
              Cliente
            </span>
          </span>
          <div
            class="w-full h-px flex-1 bg-core-gray group-last:hidden hs-stepper-success:bg-core-primary hs-stepper-completed:bg-core-primary dark:bg-neutral-600 dark:hs-stepper-success:bg-core-primary dark:hs-stepper-completed:bg-core-primary"
          >
          </div>
        </li>

        <li
          class="flex items-center gap-x-2 shrink basis-0 flex-1 group"
          data-hs-stepper-nav-item='{
        "index": 2
      }'
        >
          <span
            class="min-w-7 min-h-7 group inline-flex items-center text-xs align-middle"
          >
            <span
              class="size-7 flex justify-center items-center shrink-0 bg-core-light font-medium text-core-dark rounded-full group-focus:bg-core-gray dark:bg-neutral-700 dark:text-white dark:group-focus:bg-neutral-600 hs-stepper-active:bg-core-primary hs-stepper-active:text-core-dark hs-stepper-success:bg-core-primary hs-stepper-success:text-white hs-stepper-completed:bg-core-primary hs-stepper-completed:group-focus:bg-core-primary dark:hs-stepper-active:bg-core-primary dark:hs-stepper-success:bg-core-primary dark:hs-stepper-completed:bg-core-primary dark:hs-stepper-completed:group-focus:bg-core-primary"
            >
              <span
                class="hs-stepper-success:hidden hs-stepper-completed:hidden"
                >2</span
              >
              <svg
                class="hidden shrink-0 size-3 hs-stepper-success:block"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <polyline points="20 6 9 17 4 12"></polyline>
              </svg>
            </span>
            <span
              class="ms-2 text-sm font-medium text-core-dark dark:text-white"
            >
              Detalles
            </span>
          </span>
          <div
            class="w-full h-px flex-1 bg-core-gray group-last:hidden hs-stepper-success:bg-core-primary hs-stepper-completed:bg-core-primary dark:bg-neutral-600 dark:hs-stepper-success:bg-core-primary dark:hs-stepper-completed:bg-core-primary"
          >
          </div>
        </li>

        <li
          class="flex items-center gap-x-2 shrink basis-0 flex-1 group"
          data-hs-stepper-nav-item='{
          "index": 3
        }'
        >
          <span
            class="min-w-7 min-h-7 group inline-flex items-center text-xs align-middle"
          >
            <span
              class="size-7 flex justify-center items-center shrink-0 bg-core-light font-medium text-core-dark rounded-full group-focus:bg-core-gray dark:bg-neutral-700 dark:text-white dark:group-focus:bg-neutral-600 hs-stepper-active:bg-core-primary hs-stepper-active:text-core-dark hs-stepper-success:bg-core-primary hs-stepper-success:text-white hs-stepper-completed:bg-core-primary hs-stepper-completed:group-focus:bg-core-primary dark:hs-stepper-active:bg-core-primary dark:hs-stepper-success:bg-core-primary dark:hs-stepper-completed:bg-core-primary dark:hs-stepper-completed:group-focus:bg-core-primary"
            >
              <span
                class="hs-stepper-success:hidden hs-stepper-completed:hidden"
                >3</span
              >
              <svg
                class="hidden shrink-0 size-3 hs-stepper-success:block"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <polyline points="20 6 9 17 4 12"></polyline>
              </svg>
            </span>
            <span
              class="ms-2 text-sm font-medium text-core-dark dark:text-white"
            >
              Configuración
            </span>
          </span>
          <div
            class="w-full h-px flex-1 bg-core-gray group-last:hidden hs-stepper-success:bg-core-primary hs-stepper-completed:bg-teal-600 dark:bg-neutral-600 dark:hs-stepper-success:bg-core-primary dark:hs-stepper-completed:bg-core-primary"
          >
          </div>
        </li>
        <!-- End Item -->
      </ul>
      <!-- End Stepper Nav -->

      <!-- Stepper Content -->
      <div class="mt-5 sm:mt-8">
        <!-- First Content -->
        <div data-hs-stepper-content-item='{
        "index": 1
      }'>
          <SelectClient />
        </div>
        <!-- End First Content -->

        <!-- First Content -->
        <div
          data-hs-stepper-content-item='{
        "index": 2
      }'
          style="display: none;"
        >
          <Detail />
        </div>
        <!-- End First Content -->

        <!-- First Content -->
        <div
          data-hs-stepper-content-item='{
        "index": 3
      }'
          style="display: none;"
        >
          <Config />
        </div>
        <!-- End First Content -->

        <!-- Final Content -->
        <div
          data-hs-stepper-content-item='{
        "isFinal": true
      }'
          style="display: none;"
        >
          <div
            class="p-4 h-48 bg-core-light flex justify-center items-center border border-dashed border-core-gray rounded-xl dark:bg-neutral-700 dark:border-neutral-600"
          >
            <h3 class="text-core-gray dark:text-core-gray">Final content</h3>
          </div>
        </div>
        <!-- End Final Content -->

        <!-- Button Group -->
        <div class="mt-5 flex justify-between items-center gap-x-2">
          <button
            type="button"
            class="py-2 px-3 inline-flex items-center gap-x-1 text-sm font-medium rounded-lg border border-core-gray bg-core-light text-core-dark shadow-2xs hover:bg-core-light focus:outline-hidden focus:bg-core-light disabled:opacity-50 disabled:pointer-events-none"
            data-hs-stepper-back-btn=""
          >
            <svg
              class="shrink-0 size-4"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="m15 18-6-6 6-6"></path>
            </svg>
            Back
          </button>
          <button
            type="button"
            class="py-2 px-3 inline-flex items-center gap-x-1 text-sm font-medium rounded-lg border border-transparent bg-core-primary text-white hover:opacity-80 focus:outline-hidden focus:bg-core-primary disabled:opacity-50 disabled:pointer-events-none"
            data-hs-stepper-next-btn=""
          >
            Next
            <svg
              class="shrink-0 size-4"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="m9 18 6-6-6-6"></path>
            </svg>
          </button>
          <button
            type="button"
            class="py-2 px-3 inline-flex items-center gap-x-1 text-sm font-medium rounded-lg border border-transparent bg-core-primary text-white hover:opacity-80 focus:outline-hidden focus:bg-core-primary disabled:opacity-50 disabled:pointer-events-none"
            data-hs-stepper-finish-btn=""
            style="display: none;"
          >
            Finish
          </button>
          <button
            type="reset"
            class="py-2 px-3 inline-flex items-center gap-x-1 text-sm font-medium rounded-lg border border-transparent bg-core-primary text-white hover:opacity-80 focus:outline-hidden focus:bg-core-primary disabled:opacity-50 disabled:pointer-events-none"
            data-hs-stepper-reset-btn=""
            style="display: none;"
          >
            Reset
          </button>
        </div>
        <!-- End Button Group -->
      </div>
      <!-- End Stepper Content -->
    </div>
    <!-- End Stepper -->
  </div>
</main>
