<aside
  id="hs-pro-chtsdid1"
  class="hs-overlay [--body-scroll:true] 2xl:[--overlay-backdrop:false] [--is-layout-affect:true] [--opened:2xl] [--auto-close:2xl] hs-overlay-open:translate-x-0 2xl:hs-overlay-layout-open:translate-x-0
        translate-x-full transition-all duration-300 transform
        sm:w-96 w-full
        hidden
        fixed bottom-0 end-0 z-10 top-0 h-full
        bg-core-light border-s border-core-gray
        2xl:block 2xl:translate-x-full 2xl:bottom-0
        dark:bg-neutral-800 dark:border-neutral-700"
  tabindex="-1"
  aria-labelledby="hs-pro-chtsdid1-label"
>
  <div class="h-full flex flex-col">
    <!-- Header -->
    <div
      class="py-3 px-5 flex justify-between items-center border-b border-core-gray dark:border-neutral-800"
    >
      <span
        id="hs-pro-chtsdid1-label"
        class="block font-semibold text-core-dark dark:text-neutral-200"
      >
        Details
      </span>

      <!-- Close Button -->
      <div class="absolute top-2 end-4 z-10">
        <button
          type="button"
          class="size-8 inline-flex justify-center items-center gap-x-2 rounded-full border border-transparent bg-core-light text-core-dark hover:opacity-80 hover:bg-core-gray focus:outline-hidden focus:bg-core-gray disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:hover:bg-neutral-700 dark:text-core-gray dark:focus:bg-neutral-700"
          aria-label="Close"
          data-hs-overlay="#hs-pro-chtsdid1"
        >
          <span class="sr-only">Close</span>
          <svg
            class="shrink-0 size-4"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M18 6 6 18"></path>
            <path d="m6 6 12 12"></path>
          </svg>
        </button>
      </div>
      <!-- End Close Button -->
    </div>
    <!-- End Header -->

    <!-- Body -->
    <div
      class="h-full overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-core-light [&::-webkit-scrollbar-thumb]:bg-core-gray dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500"
    >
      <div class="p-5">
        <!-- Title Input -->
        <div class="">
          <!-- Textarea -->
          <textarea
            class="py-3 px-0 block w-full bg-core-light border-transparent border-b-core-gray/30 font-semibold text-base rounded-0 resize-none hover:border-b-core-gray focus:outline-hidden focus:border-transparent focus:border-b-core-primary focus:ring-transparent disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:text-core-gray dark:border-b-neutral-700 dark:hover:border-b-neutral-500 dark:focus:bg-neutral-800 dark:placeholder-neutral-500 overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-core-light [&::-webkit-scrollbar-thumb]:bg-core-gray dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500"
            placeholder="Edit your comment..."
            rows="1"
            data-hs-textarea-auto-height='{"defaultHeight": 51}'
            >Inquiry about client project license</textarea
          >
          <!-- End Textarea -->
        </div>
        <!-- End Title Input -->

        <div class="mt-3">
          <button
            type="button"
            class="hs-collapse-toggle hs-collapse-open:hidden py-1 px-2 inline-flex items-center gap-x-1 text-[13px] rounded-lg border border-core-gray bg-core-light text-core-dark shadow-2xs hover:opacity-80 hover:bg-core-gray/10 disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-core-light dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
            id="hs-pro-chtddclid1"
            aria-expanded="false"
            aria-controls="hs-pro-chtddclid1-heading"
            data-hs-collapse="#hs-pro-chtddclid1-heading"
          >
            <svg
              class="shrink-0 size-3.5"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M5 12h14"></path>
              <path d="M12 5v14"></path>
            </svg>
            Add description
          </button>

          <!-- Collapse -->
          <div
            id="hs-pro-chtddclid1-heading"
            class="hs-collapse hidden w-full overflow-hidden"
            aria-labelledby="hs-pro-chtddclid1"
          >
            <!-- Input -->
            <div class="p-0.5">
              <label
                for="hs-pro-chtddtxid1"
                class="block mb-2 font-medium text-sm text-core-dark dark:text-neutral-200"
              >
                Description
              </label>
              <textarea
                id="hs-pro-chtddtxid1"
                class="p-2 block w-full border-core-gray rounded-lg sm:text-sm text-base focus:border-blue-500 focus:ring-blue-500 resize-none disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-core-gray dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
                placeholder="Add a few notes to help you later"
                data-hs-textarea-auto-height></textarea>
            </div>
            <!-- End Input -->
          </div>
          <!-- End Collapse -->
        </div>
      </div>

      <div class="hs-accordion-group" data-hs-accordion-always-open>
        <!-- Base Details -->
        <div
          class="hs-accordion border-b border-core-gray/20 dark:border-neutral-800 active"
          id="hs-pro-chtdbdid1"
        >
          <button
            type="button"
            class="hs-accordion-toggle p-5 pb-2 w-full flex justify-between items-center gap-x-3 text-core-dark hover:text-core-dark focus:outline-hidden focus:text-core-dark disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-200 dark:hover:text-core-gray dark:focus:text-core-gray"
            aria-expanded="true"
            aria-controls="hs-pro-chtdbdid1-collapse"
          >
            <span class="text-sm font-medium">Base details</span>
            <svg
              class="hs-accordion-active:hidden block size-4"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M5 12h14"></path>
              <path d="M12 5v14"></path>
            </svg>
            <svg
              class="hs-accordion-active:block hidden size-4"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M5 12h14"></path>
            </svg>
          </button>

          <div
            id="hs-pro-chtdbdid1-collapse"
            class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300"
            role="region"
            aria-labelledby="hs-pro-chtdbdid1"
          >
            <div class="px-5 pb-5">
              <!-- List Item -->
              <dl class="py-1 flex items-center gap-x-4">
                <dt class="w-full max-w-28">
                  <p
                    class="inline-flex items-center gap-x-2 text-[13px] text-core-gray dark:text-neutral-500"
                  >
                    <svg
                      class="shrink-0 size-3.5"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path
                        d="M2 9a3 3 0 0 1 0 6v2a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-2a3 3 0 0 1 0-6V7a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2Z"
                      ></path>
                      <path d="M13 5v2"></path>
                      <path d="M13 17v2"></path>
                      <path d="M13 11v2"></path>
                    </svg>
                    Ticket ID:
                  </p>
                </dt>
                <dd class="grow w-full">
                  <p
                    class="inline-flex items-center gap-x-1 font-medium text-[13px] text-core-dark dark:text-neutral-200"
                  >
                    #453892
                  </p>
                </dd>
              </dl>
              <!-- End List Item -->

              <!-- List Item -->
              <dl class="py-1 flex items-center gap-x-4">
                <dt class="w-full max-w-28">
                  <p
                    class="inline-flex items-center gap-x-2 text-[13px] text-core-gray dark:text-neutral-500"
                  >
                    <svg
                      class="shrink-0 size-3.5"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path
                        d="M14.536 21.686a.5.5 0 0 0 .937-.024l6.5-19a.496.496 0 0 0-.635-.635l-19 6.5a.5.5 0 0 0-.024.937l7.93 3.18a2 2 0 0 1 1.112 1.11z"
                      ></path>
                      <path d="m21.854 2.147-10.94 10.939"></path>
                    </svg>
                    From:
                  </p>
                </dt>
                <dd class="grow w-full">
                  <p
                    class="inline-flex items-center gap-x-1 font-medium text-[13px] text-core-dark dark:text-neutral-200"
                  >
                    <svg
                      class="shrink-0 size-3.5"
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M16 32C24.8365 32 32 24.8365 32 16C32 7.16346 24.8365 0 16 0C7.16346 0 0 7.16346 0 16C0 24.8365 7.16346 32 16 32Z"
                        fill="#34AADF"></path>
                      <path
                        d="M6.65901 15.8612C6.65901 15.8612 14.659 12.578 17.4335 11.422C18.4972 10.9596 22.1041 9.47974 22.1041 9.47974C22.1041 9.47974 23.7688 8.83238 23.6301 10.4046C23.5838 11.052 23.2139 13.3179 22.844 15.7688C22.289 19.237 21.6879 23.0289 21.6879 23.0289C21.6879 23.0289 21.5954 24.0925 20.8093 24.2774C20.0232 24.4624 18.7283 23.6301 18.4972 23.4451C18.3121 23.3064 15.0289 21.2254 13.8266 20.2081C13.5029 19.9306 13.133 19.3757 13.8728 18.7283C15.5376 17.2023 17.526 15.3064 18.7283 14.1041C19.2833 13.5491 19.8381 12.2543 17.526 13.8266C14.2428 16.0925 11.0058 18.2196 11.0058 18.2196C11.0058 18.2196 10.2659 18.682 8.87866 18.2659C7.49133 17.8497 5.87283 17.2948 5.87283 17.2948C5.87283 17.2948 4.76307 16.6012 6.65901 15.8612Z"
                        fill="white"></path>
                    </svg> Telegram
                  </p>
                </dd>
              </dl>
              <!-- End List Item -->

              <!-- List Item -->
              <dl class="py-1 flex items-center gap-x-4">
                <dt class="w-full max-w-28">
                  <p
                    class="inline-flex items-center gap-x-2 text-[13px] text-core-gray dark:text-neutral-500"
                  >
                    <svg
                      class="shrink-0 size-3.5"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path
                        d="M12.586 2.586A2 2 0 0 0 11.172 2H4a2 2 0 0 0-2 2v7.172a2 2 0 0 0 .586 1.414l8.704 8.704a2.426 2.426 0 0 0 3.42 0l6.58-6.58a2.426 2.426 0 0 0 0-3.42z"
                      ></path>
                      <circle cx="7.5" cy="7.5" r=".5" fill="currentColor"
                      ></circle>
                    </svg>
                    Tags:
                  </p>
                </dt>
                <dd class="grow w-full">
                  <!-- Dropdown Group -->
                  <div class="-ms-2 flex flex-wrap items-center gap-1">
                    <!-- Tag Dropdown -->
                    <div class="hs-dropdown relative inline-flex">
                      <button
                        id="hs-pro-intbtwtaddid1_1"
                        type="button"
                        class="py-0.5 px-2 group inline-flex items-center gap-1.5 bg-core-light border border-core-gray text-core-dark text-[13px] rounded-lg hover:opacity-80 hover:bg-core-gray/10 dark:bg-neutral-800 dark:hover:bg-neutral-700 dark:border-neutral-700 dark:text-neutral-200"
                      >
                        <svg
                          class="shrink-0 size-3.5 text-orange-500"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path
                            d="M12.586 2.586A2 2 0 0 0 11.172 2H4a2 2 0 0 0-2 2v7.172a2 2 0 0 0 .586 1.414l8.704 8.704a2.426 2.426 0 0 0 3.42 0l6.58-6.58a2.426 2.426 0 0 0 0-3.42z"
                          ></path>
                          <circle cx="7.5" cy="7.5" r=".5" fill="currentColor"
                          ></circle>
                        </svg>
                        Generic
                      </button>

                      <!-- Tag Dropdown -->
                      <div
                        class="hs-dropdown-menu hs-dropdown-open:opacity-100 w-60 transition-[opacity,margin] duration opacity-0 hidden z-11 bg-core-light rounded-xl shadow-lg dark:bg-neutral-950 before:h-4 before:absolute before:-top-4 before:start-0 before:w-full"
                        role="menu"
                        aria-orientation="vertical"
                        aria-labelledby="hs-pro-intbtwtaddid1_1"
                      >
                        <div
                          class="p-1 space-y-0.5 border-b border-core-gray dark:border-neutral-800"
                        >
                          <button
                            type="button"
                            class="w-full flex items-center gap-x-3 py-1.5 px-3 rounded-lg text-[13px] text-core-dark hover:bg-core-light disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-core-light dark:text-neutral-300 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
                          >
                            <svg
                              class="shrink-0 size-3.5"
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            >
                              <path
                                d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"
                              ></path>
                              <path d="m15 5 4 4"></path>
                            </svg>
                            Edit tag
                          </button>
                          <button
                            type="button"
                            class="w-full flex items-center gap-x-3 py-1.5 px-3 rounded-lg text-[13px] text-core-dark hover:bg-core-light disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-core-light dark:text-neutral-300 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
                          >
                            <svg
                              class="shrink-0 size-3.5"
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            >
                              <path d="M3 6h18"></path>
                              <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"
                              ></path>
                              <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"
                              ></path>
                              <line x1="10" x2="10" y1="11" y2="17"></line>
                              <line x1="14" x2="14" y1="11" y2="17"></line>
                            </svg>
                            Remove from conversation
                          </button>
                          <button
                            type="button"
                            class="w-full flex items-center gap-x-3 py-1.5 px-3 rounded-lg text-[13px] text-core-dark hover:bg-core-light disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-core-light dark:text-neutral-300 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
                            data-hs-overlay="#hs-pro-chhsn"
                          >
                            <svg
                              class="shrink-0 size-3.5"
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            >
                              <path d="M3 7V5a2 2 0 0 1 2-2h2"></path>
                              <path d="M17 3h2a2 2 0 0 1 2 2v2"></path>
                              <path d="M21 17v2a2 2 0 0 1-2 2h-2"></path>
                              <path d="M7 21H5a2 2 0 0 1-2-2v-2"></path>
                              <circle cx="12" cy="12" r="3"></circle>
                              <path d="m16 16-1.9-1.9"></path>
                            </svg>
                            View all conversations
                          </button>
                        </div>
                      </div>
                      <!-- End Tag Dropdown -->
                    </div>
                    <!-- End Tag Dropdown -->

                    <!-- Tag Dropdown -->
                    <div class="hs-dropdown relative inline-flex">
                      <button
                        id="hs-pro-intbtwtaddid1_2"
                        type="button"
                        class="py-0.5 px-2 group inline-flex items-center gap-1.5 bg-core-light border border-core-gray text-core-dark text-[13px] rounded-lg hover:opacity-80 hover:bg-core-gray/10 dark:bg-neutral-800 dark:hover:bg-neutral-700 dark:border-neutral-700 dark:text-neutral-200"
                      >
                        <svg
                          class="shrink-0 size-3.5 text-core-primary"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path
                            d="M12.586 2.586A2 2 0 0 0 11.172 2H4a2 2 0 0 0-2 2v7.172a2 2 0 0 0 .586 1.414l8.704 8.704a2.426 2.426 0 0 0 3.42 0l6.58-6.58a2.426 2.426 0 0 0 0-3.42z"
                          ></path>
                          <circle cx="7.5" cy="7.5" r=".5" fill="currentColor"
                          ></circle>
                        </svg>
                        Reviews
                      </button>

                      <!-- Tag Dropdown -->
                      <div
                        class="hs-dropdown-menu hs-dropdown-open:opacity-100 w-60 transition-[opacity,margin] duration opacity-0 hidden z-11 bg-core-light rounded-xl shadow-lg dark:bg-neutral-950 before:h-4 before:absolute before:-top-4 before:start-0 before:w-full"
                        role="menu"
                        aria-orientation="vertical"
                        aria-labelledby="hs-pro-intbtwtaddid1_2"
                      >
                        <div
                          class="p-1 space-y-0.5 border-b border-core-gray dark:border-neutral-800"
                        >
                          <button
                            type="button"
                            class="w-full flex items-center gap-x-3 py-1.5 px-3 rounded-lg text-[13px] text-core-dark hover:bg-core-light disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-core-light dark:text-neutral-300 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
                          >
                            <svg
                              class="shrink-0 size-3.5"
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            >
                              <path
                                d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"
                              ></path>
                              <path d="m15 5 4 4"></path>
                            </svg>
                            Edit tag
                          </button>
                          <button
                            type="button"
                            class="w-full flex items-center gap-x-3 py-1.5 px-3 rounded-lg text-[13px] text-core-dark hover:bg-core-light disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-core-light dark:text-neutral-300 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
                          >
                            <svg
                              class="shrink-0 size-3.5"
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            >
                              <path d="M3 6h18"></path>
                              <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"
                              ></path>
                              <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"
                              ></path>
                              <line x1="10" x2="10" y1="11" y2="17"></line>
                              <line x1="14" x2="14" y1="11" y2="17"></line>
                            </svg>
                            Remove from conversation
                          </button>
                          <button
                            type="button"
                            class="w-full flex items-center gap-x-3 py-1.5 px-3 rounded-lg text-[13px] text-core-dark hover:bg-core-light disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-core-light dark:text-neutral-300 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
                            data-hs-overlay="#hs-pro-chhsn"
                          >
                            <svg
                              class="shrink-0 size-3.5"
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            >
                              <path d="M3 7V5a2 2 0 0 1 2-2h2"></path>
                              <path d="M17 3h2a2 2 0 0 1 2 2v2"></path>
                              <path d="M21 17v2a2 2 0 0 1-2 2h-2"></path>
                              <path d="M7 21H5a2 2 0 0 1-2-2v-2"></path>
                              <circle cx="12" cy="12" r="3"></circle>
                              <path d="m16 16-1.9-1.9"></path>
                            </svg>
                            View all conversations
                          </button>
                        </div>
                      </div>
                      <!-- End Tag Dropdown -->
                    </div>
                    <!-- End Tag Dropdown -->
                  </div>
                  <!-- End Dropdown Group -->
                </dd>
              </dl>
              <!-- End List Item -->
            </div>
          </div>
        </div>
        <!-- End Base Details -->

        <!-- Tickets -->
        <div
          class="hs-accordion border-b border-core-gray/20 dark:border-neutral-800 active"
          id="hs-pro-chdstcc1"
        >
          <button
            type="button"
            class="hs-accordion-toggle p-5 pb-2 w-full flex justify-between items-center gap-x-3 text-core-dark hover:text-core-dark focus:outline-hidden focus:text-core-dark disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-200 dark:hover:text-core-gray dark:focus:text-core-gray"
            aria-expanded="true"
            aria-controls="hs-pro-chdstcc1-collapse"
          >
            <span class="text-sm font-medium">Tickets</span>
            <svg
              class="hs-accordion-active:hidden block size-4"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M5 12h14"></path>
              <path d="M12 5v14"></path>
            </svg>
            <svg
              class="hs-accordion-active:block hidden size-4"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M5 12h14"></path>
            </svg>
          </button>

          <div
            id="hs-pro-chdstcc1-collapse"
            class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300"
            role="region"
            aria-labelledby="hs-pro-chdstcc1"
          >
            <div class="px-5 pb-5">
              <!-- List Item -->
              <dl class="py-1 flex gap-x-4">
                <dt class="w-full max-w-28">
                  <label
                    class="inline-flex items-center gap-x-2 text-[13px] text-core-gray dark:text-neutral-500"
                  >
                    <svg
                      class="shrink-0 size-3.5"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"
                      ></path>
                      <circle cx="9" cy="7" r="4"></circle>
                      <path d="M22 21v-2a4 4 0 0 0-3-3.87"></path>
                      <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                    </svg>
                    Assignee:
                  </label>
                </dt>
                <dd class="grow w-full -mx-1">
                  <!-- Select -->
                  <select
                    multiple
                    data-hs-select='{
                          "placeholder": "Unassigned",
                          "dropdownClasses": "mt-2 z-85 w-full max-w-xs max-h-72 p-1 bg-core-light border border-core-gray rounded-lg shadow-lg overflow-hidden overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-core-light [&::-webkit-scrollbar-thumb]:bg-core-gray/50 dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500 dark:bg-neutral-900 dark:border-neutral-700",
                          "dropdownScope": "window",
                          "dropdownPlacement": "bottom-left",
                          "optionClasses": "py-1 px-2 w-full text-sm text-core-dark cursor-pointer hover:bg-core-light rounded-lg focus:outline-hidden focus:bg-core-light hs-select-disabled:pointer-events-none hs-select-disabled:opacity-50 dark:bg-neutral-900 dark:hover:bg-neutral-800 dark:text-neutral-200 dark:focus:bg-neutral-800",
                          "mode": "tags",
                          "wrapperClasses": "relative flex items-center flex-wrap text-nowrap w-full text-start text-sm",
                          "tagsItemTemplate": "<div class=\"flex flex-nowrap items-center relative z-1 bg-core-light border border-core-gray rounded-full p-0.5 pe-[3px] m-0.5 dark:bg-neutral-800 dark:border-neutral-700 \"><div class=\"shrink-0 size-6 me-1.5\" data-icon></div><div class=\"whitespace-nowrap text-core-dark dark:text-neutral-200 \" data-title></div><div class=\"inline-flex shrink-0 justify-center items-center size-5 ms-1 rounded-full text-core-dark hover:opacity-80 hover:bg-core-gray focus:outline-hidden focus:bg-core-gray text-sm dark:hover:bg-neutral-700 dark:text-core-gray cursor-pointer\" data-remove><svg class=\"shrink-0 size-3\" xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"M18 6 6 18\"/><path d=\"m6 6 12 12\"/></svg></div></div>",
                          "tagsInputId": "hs-pro-chtdaiid1",
                          "tagsInputClasses": "py-0 px-1 rounded-md grow order-1 font-medium sm:text-[13px] text-base border-transparent focus:ring-0 placeholder:text-core-dark outline-hidden cursor-pointer hover:bg-core-light dark:bg-neutral-800 dark:placeholder-neutral-200 dark:text-neutral-200 dark:hover:bg-neutral-700",
                          "optionTemplate": "<div class=\"flex items-center\"><div class=\"shrink-0 size-6 me-3\" data-icon></div><div class=\"truncate\"><div class=\"text-sm text-core-dark dark:text-neutral-200 \" data-title></div><div class=\"truncate text-xs text-core-gray dark:text-neutral-500 \" data-description></div></div><div class=\"ms-auto\"><span class=\"hidden hs-selected:block\"><svg class=\"shrink-0 size-4\" xmlns=\"http://www.w3.org/2000/svg\" width=\"16\" height=\"16\" fill=\"currentColor\" viewBox=\"0 0 16 16\"><path d=\"M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z\"/></svg></span></div></div>"
                        }'
                    class="hidden"
                  >
                    <option value="">Choose</option>
                    <option
                      value="1"
                      data-hs-select-option='{
                              
                              "icon": "<span class=\"inline-flex shrink-0 justify-center items-center size-6 text-xs uppercase bg-gray-400 text-white dark:bg-neutral-600 rounded-full\">S</span>"
                            }'
                      >Sarah Chen</option
                    >
                    <option
                      selected
                      value="2"
                      data-hs-select-option='{
                              
                              "icon": "<img class=\"shrink-0 rounded-full\" src=\"https://images.unsplash.com/photo-1659482633369-9fe69af50bfb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=3&w=320&h=320&q=80\" alt=\"Avatar\">"
                            }'
                      >James Collins</option
                    >
                    <option
                      value="3"
                      data-hs-select-option='{
                              
                              "icon": "<img class=\"shrink-0 rounded-full\" src=\"https://images.unsplash.com/photo-1679412330254-90cb240038c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2.5&w=320&h=320&q=80\" alt=\"Avatar\">"
                            }'
                      >Lewis Clarke</option
                    >
                    <option
                      value="4"
                      data-hs-select-option='{
                              
                              "icon": "<span class=\"inline-flex shrink-0 justify-center items-center size-6 text-xs uppercase bg-purple-500 text-white rounded-full\">I</span>"
                            }'
                      >Isabella Lauda</option
                    >
                    <option
                      value="5"
                      data-hs-select-option='{
                              
                              "icon": "<span class=\"inline-flex shrink-0 justify-center items-center size-6 text-xs uppercase bg-orange-500 text-white rounded-full\">C</span>"
                            }'
                      >Christina Williams</option
                    >
                    <option
                      value="6"
                      data-hs-select-option='{
                              
                              "icon": "<img class=\"shrink-0 rounded-full\" src=\"https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2.5&w=320&h=320&q=80\" alt=\"Avatar\">"
                            }'
                      >Amanda Harvey</option
                    >
                  </select>
                  <!-- End Select -->
                </dd>
              </dl>
              <!-- End List Item -->

              <!-- List Item -->
              <dl class="py-1 flex items-center gap-x-4">
                <dt class="w-full max-w-28">
                  <p
                    class="inline-flex items-center gap-x-2 text-[13px] text-core-gray dark:text-neutral-500"
                  >
                    <svg
                      class="shrink-0 size-3.5"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <circle cx="12" cy="12" r="10"></circle>
                      <polyline points="12 6 12 12 16 14"></polyline>
                    </svg>
                    Created time:
                  </p>
                </dt>
                <dd class="grow w-full">
                  <p
                    class="font-medium text-[13px] text-core-dark dark:text-neutral-200"
                  >
                    October 7, 2024 1:56 PM
                  </p>
                </dd>
              </dl>
              <!-- End List Item -->

              <!-- List Item -->
              <dl class="py-1 flex items-center gap-x-4">
                <dt class="w-full max-w-28">
                  <p
                    class="inline-flex items-center gap-x-2 text-[13px] text-core-gray dark:text-neutral-500"
                  >
                    <svg
                      class="shrink-0 size-3.5"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <circle cx="12" cy="12" r="10"></circle>
                      <circle cx="12" cy="10" r="3"></circle>
                      <path d="M7 20.662V19a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v1.662"
                      ></path>
                    </svg>
                    Created by:
                  </p>
                </dt>
                <dd class="grow w-full">
                  <div class="flex items-center gap-x-1">
                    <div class="relative size-4">
                      <span
                        class="flex shrink-0 justify-center items-center size-4 text-xs font-medium uppercase nullInitial.color rounded-full"
                      >
                        <svg
                          class="shrink-0 size-3.5"
                          width="32"
                          height="32"
                          viewBox="0 0 32 32"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M16 32C24.8365 32 32 24.8365 32 16C32 7.16346 24.8365 0 16 0C7.16346 0 0 7.16346 0 16C0 24.8365 7.16346 32 16 32Z"
                            fill="#34AADF"></path>
                          <path
                            d="M6.65901 15.8612C6.65901 15.8612 14.659 12.578 17.4335 11.422C18.4972 10.9596 22.1041 9.47974 22.1041 9.47974C22.1041 9.47974 23.7688 8.83238 23.6301 10.4046C23.5838 11.052 23.2139 13.3179 22.844 15.7688C22.289 19.237 21.6879 23.0289 21.6879 23.0289C21.6879 23.0289 21.5954 24.0925 20.8093 24.2774C20.0232 24.4624 18.7283 23.6301 18.4972 23.4451C18.3121 23.3064 15.0289 21.2254 13.8266 20.2081C13.5029 19.9306 13.133 19.3757 13.8728 18.7283C15.5376 17.2023 17.526 15.3064 18.7283 14.1041C19.2833 13.5491 19.8381 12.2543 17.526 13.8266C14.2428 16.0925 11.0058 18.2196 11.0058 18.2196C11.0058 18.2196 10.2659 18.682 8.87866 18.2659C7.49133 17.8497 5.87283 17.2948 5.87283 17.2948C5.87283 17.2948 4.76307 16.6012 6.65901 15.8612Z"
                            fill="white"></path>
                        </svg>
                      </span>
                    </div>
                    <div class="grow truncate">
                      <p
                        class="truncate font-medium text-[13px] text-core-dark dark:text-neutral-200"
                      >
                        Telegram
                      </p>
                    </div>
                  </div>
                </dd>
              </dl>
              <!-- End List Item -->

              <!-- List Item -->
              <dl class="py-1 flex items-center gap-x-4">
                <dt class="w-full max-w-28">
                  <label
                    for="hs-pro-shtdsi1ta1"
                    class="inline-flex items-center gap-x-2 text-[13px] text-core-gray dark:text-neutral-500"
                  >
                    <svg
                      class="shrink-0 size-3.5"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <polyline points="4 7 4 4 20 4 20 7"></polyline>
                      <line x1="9" x2="15" y1="20" y2="20"></line>
                      <line x1="12" x2="12" y1="4" y2="20"></line>
                    </svg>
                    Subject:
                  </label>
                </dt>
                <dd class="grow w-full -mx-1">
                  <input
                    id="hs-pro-shtdsi1ta1"
                    type="text"
                    class="py-px px-1 block w-full bg-core-light hover:bg-core-light border-transparent rounded-md sm:text-[13px] sm:leading-5 text-base text-core-dark focus:bg-core-light focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none placeholder:text-core-dark dark:bg-neutral-800 dark:border-transparent dark:text-neutral-200 dark:placeholder-neutral-200 dark:focus:ring-neutral-600 dark:hover:bg-neutral-700 dark:focus:bg-neutral-800"
                    placeholder="+ Add"
                  />
                </dd>
              </dl>
              <!-- End List Item -->

              <!-- List Item -->
              <dl class="py-1 flex items-center gap-x-4">
                <dt class="w-full max-w-28">
                  <p
                    class="inline-flex items-center gap-x-2 text-[13px] text-core-gray dark:text-neutral-500"
                  >
                    <svg
                      class="shrink-0 size-3.5"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path
                        d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"
                      ></path>
                      <path
                        d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"
                      ></path>
                    </svg>
                    Share:
                  </p>
                </dt>
                <dd class="grow w-full -mx-1">
                  <!-- Input Form -->
                  <div class="flex items-center gap-x-2">
                    <input
                      id="hs-pro-chtdshi1"
                      type="text"
                      class="py-px px-1 block w-full truncate bg-core-light hover:bg-core-light border-transparent rounded-md sm:text-[13px] sm:leading-5 text-base focus:bg-core-light focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none placeholder:text-core-dark dark:bg-neutral-800 dark:border-transparent dark:text-neutral-200 dark:placeholder-neutral-200 dark:focus:ring-neutral-600 dark:hover:bg-neutral-700 dark:focus:bg-neutral-800"
                      readonly
                      value="https://preline.co/chat/share2371e1280182"
                    />

                    <button
                      type="button"
                      class="js-clipboard [--is-toggle-tooltip:false] hs-tooltip size-6 shrink-0 inline-flex justify-center items-center gap-x-2 rounded-md text-core-dark hover:bg-core-light disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden dark:text-neutral-200 dark:hover:bg-neutral-700"
                      data-clipboard-target="#hs-pro-chtdshi1"
                      data-clipboard-action="copy"
                      data-clipboard-success-text="Link copied"
                    >
                      <svg
                        class="js-clipboard-default shrink-0 size-3.5"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <rect width="14" height="14" x="8" y="8" rx="2" ry="2"
                        ></rect>
                        <path
                          d="M4 16c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h10c1.1 0 2 .9 2 2"
                        ></path>
                      </svg>
                      <svg
                        class="js-clipboard-success hidden size-3.5"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <polyline points="20 6 9 17 4 12"></polyline>
                      </svg>
                      <span
                        class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity hidden invisible z-10 py-1 px-2 bg-core-dark text-xs font-medium text-white rounded-md shadow-2xs dark:bg-neutral-700"
                        role="tooltip"
                      >
                        <span class="js-clipboard-success-text">Copy link</span>
                      </span>
                    </button>
                  </div>
                  <!-- End Input Form -->
                </dd>
              </dl>
              <!-- End List Item -->
            </div>
          </div>
        </div>
        <!-- End Tickets -->

        <!-- User Data -->
        <div
          class="hs-accordion border-b border-core-gray/20 dark:border-neutral-800 active"
          id="hs-pro-chtdudid1"
        >
          <button
            type="button"
            class="hs-accordion-toggle p-5 pb-2 w-full flex justify-between items-center gap-x-3 text-core-dark hover:text-core-dark focus:outline-hidden focus:text-core-dark disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-200 dark:hover:text-core-gray dark:focus:text-core-gray"
            aria-expanded="true"
            aria-controls="hs-pro-chtdudid1-collapse"
          >
            <span class="text-sm font-medium">User data</span>
            <svg
              class="hs-accordion-active:hidden block size-4"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M5 12h14"></path>
              <path d="M12 5v14"></path>
            </svg>
            <svg
              class="hs-accordion-active:block hidden size-4"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M5 12h14"></path>
            </svg>
          </button>

          <div
            id="hs-pro-chtdudid1-collapse"
            class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300"
            role="region"
            aria-labelledby="hs-pro-chtdudid1"
          >
            <div class="px-5 pb-5">
              <!-- List Item -->
              <dl class="py-1 flex items-center gap-x-4">
                <dt class="w-full max-w-28">
                  <p
                    class="inline-flex items-center gap-x-2 text-[13px] text-core-gray dark:text-neutral-500"
                  >
                    <svg
                      class="shrink-0 size-3.5"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"
                      ></path>
                      <circle cx="12" cy="7" r="4"></circle>
                    </svg>
                    Name:
                  </p>
                </dt>
                <dd class="grow w-full">
                  <p
                    class="inline-flex items-center gap-x-1 font-medium text-[13px] text-core-dark dark:text-neutral-200"
                  >
                    Costa Quinn
                  </p>
                </dd>
              </dl>
              <!-- End List Item -->

              <!-- List Item -->
              <dl class="py-1 flex items-center gap-x-4">
                <dt class="w-full max-w-28">
                  <p
                    class="inline-flex items-center gap-x-2 text-[13px] text-core-gray dark:text-neutral-500"
                  >
                    <svg
                      class="shrink-0 size-3.5"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path d="M6 22V4a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v18Z"
                      ></path>
                      <path d="M6 12H4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h2"></path>
                      <path d="M18 9h2a2 2 0 0 1 2 2v9a2 2 0 0 1-2 2h-2"></path>
                      <path d="M10 6h4"></path>
                      <path d="M10 10h4"></path>
                      <path d="M10 14h4"></path>
                      <path d="M10 18h4"></path>
                    </svg>
                    Company:
                  </p>
                </dt>
                <dd class="grow w-full">
                  <p
                    class="inline-flex items-center gap-x-1 font-medium text-[13px] text-core-dark dark:text-neutral-200"
                  >
                    -
                  </p>
                </dd>
              </dl>
              <!-- End List Item -->

              <!-- List Item -->
              <dl class="py-1 flex items-center gap-x-4">
                <dt class="w-full max-w-28">
                  <p
                    class="inline-flex items-center gap-x-2 text-[13px] text-core-gray dark:text-neutral-500"
                  >
                    <svg
                      class="shrink-0 size-3.5"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path
                        d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0"
                      ></path>
                      <circle cx="12" cy="10" r="3"></circle>
                    </svg>
                    Location:
                  </p>
                </dt>
                <dd class="grow w-full">
                  <p
                    class="inline-flex items-center gap-x-1 font-medium text-[13px] text-core-dark dark:text-neutral-200"
                  >
                    London, UK
                  </p>
                </dd>
              </dl>
              <!-- End List Item -->

              <!-- List Item -->
              <dl class="py-1 flex items-center gap-x-4">
                <dt class="w-full max-w-28">
                  <p
                    class="inline-flex items-center gap-x-2 text-[13px] text-core-gray dark:text-neutral-500"
                  >
                    <svg
                      class="shrink-0 size-3.5"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <circle cx="12" cy="12" r="4"></circle>
                      <path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-4 8"></path>
                    </svg>
                    Email:
                  </p>
                </dt>
                <dd class="grow w-full">
                  <p
                    class="inline-flex items-center gap-x-1 font-medium text-[13px] text-core-dark dark:text-neutral-200"
                  >
                    -
                  </p>
                </dd>
              </dl>
              <!-- End List Item -->

              <!-- Show All Collapse -->
              <div
                id="hs-pro-chtdudsaid1-heading"
                class="hs-collapse hidden w-full overflow-hidden transition-[height] duration-300"
                aria-labelledby="hs-pro-chtdudsaid1"
              >
                <!-- List Item -->
                <dl class="py-1 flex items-center gap-x-4">
                  <dt class="w-full max-w-28">
                    <p
                      class="inline-flex items-center gap-x-2 text-[13px] text-core-gray dark:text-neutral-500"
                    >
                      <svg
                        class="shrink-0 size-3.5"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path
                          d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"
                        ></path>
                      </svg>
                      Phone:
                    </p>
                  </dt>
                  <dd class="grow w-full">
                    <p
                      class="inline-flex items-center gap-x-1 font-medium text-[13px] text-core-dark dark:text-neutral-200"
                    >
                      +1 000 040 001
                    </p>
                  </dd>
                </dl>
                <!-- End List Item -->
              </div>
              <!-- End Show All Collapse -->

              <button
                type="button"
                class="hs-collapse-toggle mt-2 inline-flex items-center gap-x-1 font-medium text-[13px] text-core-dark hover:text-core-dark focus:outline-hidden focus:text-core-dark disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-200 dark:hover:text-core-gray dark:focus:text-core-gray"
                id="hs-pro-chtdudsaid1"
                aria-expanded="false"
                aria-controls="hs-pro-chtdudsaid1-heading"
                data-hs-collapse="#hs-pro-chtdudsaid1-heading"
              >
                <span class="hs-collapse-open:hidden block">Show all</span>
                <span class="hs-collapse-open:block hidden">Show less</span>
                <svg
                  class="hs-collapse-open:rotate-180 shrink-0 size-4"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path d="m6 9 6 6 6-6"></path>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <!-- End User Data -->

        <!-- Previous Conversations -->
        <div
          class="hs-accordion border-b border-core-gray/20 dark:border-neutral-800 active"
          id="hs-pro-chtdpcid1"
        >
          <button
            type="button"
            class="hs-accordion-toggle p-5 pb-2 w-full flex justify-between items-center gap-x-3 text-core-dark hover:text-core-dark focus:outline-hidden focus:text-core-dark disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-200 dark:hover:text-core-gray dark:focus:text-core-gray"
            aria-expanded="true"
            aria-controls="hs-pro-chtdpcid1-collapse"
          >
            <span class="text-sm font-medium">Previous conversations</span>
            <svg
              class="hs-accordion-active:hidden block size-4"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M5 12h14"></path>
              <path d="M12 5v14"></path>
            </svg>
            <svg
              class="hs-accordion-active:block hidden size-4"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M5 12h14"></path>
            </svg>
          </button>

          <div
            id="hs-pro-chtdpcid1-collapse"
            class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300"
            role="region"
            aria-labelledby="hs-pro-chtdpcid1"
          >
            <!-- Message -->
            <div
              class="relative overflow-hidden group cursor-pointer bg-core-light hover:bg-core-light focus:outline-hidden focus:bg-core-light dark:bg-neutral-800 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700 dark:border-neutral-700"
            >
              <div
                class="py-4 px-5 border-b border-b-gray-100 dark:border-neutral-700"
              >
                <div class="flex gap-x-2.5">
                  <div class="mt-1 shrink-0">
                    <div class="relative size-8">
                      <img
                        class="shrink-0 size-7 rounded-full"
                        src="https://images.unsplash.com/photo-1601935111741-ae98b2b230b0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2.5&w=320&h=320&q=80"
                        alt="Avatar"
                      />
                      <span
                        class="absolute top-3.5 start-3.5 flex shrink-0 justify-center items-center size-5 bg-core-light rounded-full group-hover:bg-core-light dark:bg-neutral-800 dark:group-hover:bg-neutral-700"
                      >
                        <svg
                          class="shrink-0 size-3.5"
                          width="32"
                          height="32"
                          viewBox="0 0 32 32"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M16 32C24.8365 32 32 24.8365 32 16C32 7.16346 24.8365 0 16 0C7.16346 0 0 7.16346 0 16C0 24.8365 7.16346 32 16 32Z"
                            fill="#34AADF"></path>
                          <path
                            d="M6.65901 15.8612C6.65901 15.8612 14.659 12.578 17.4335 11.422C18.4972 10.9596 22.1041 9.47974 22.1041 9.47974C22.1041 9.47974 23.7688 8.83238 23.6301 10.4046C23.5838 11.052 23.2139 13.3179 22.844 15.7688C22.289 19.237 21.6879 23.0289 21.6879 23.0289C21.6879 23.0289 21.5954 24.0925 20.8093 24.2774C20.0232 24.4624 18.7283 23.6301 18.4972 23.4451C18.3121 23.3064 15.0289 21.2254 13.8266 20.2081C13.5029 19.9306 13.133 19.3757 13.8728 18.7283C15.5376 17.2023 17.526 15.3064 18.7283 14.1041C19.2833 13.5491 19.8381 12.2543 17.526 13.8266C14.2428 16.0925 11.0058 18.2196 11.0058 18.2196C11.0058 18.2196 10.2659 18.682 8.87866 18.2659C7.49133 17.8497 5.87283 17.2948 5.87283 17.2948C5.87283 17.2948 4.76307 16.6012 6.65901 15.8612Z"
                            fill="white"></path>
                        </svg>
                      </span>
                    </div>
                  </div>

                  <div class="grow truncate">
                    <div class="flex justify-between gap-x-1">
                      <span
                        class="block truncate font-medium text-[13px] text-core-dark dark:text-neutral-200"
                        >Costa Quinn</span
                      >
                      <span
                        class="block text-[10px] leading-5 text-core-gray uppercase dark:text-neutral-500"
                        >3d</span
                      >
                    </div>

                    <div class="mt-1 flex justify-between items-center gap-x-1">
                      <div class="w-10/12 truncate">
                        <p
                          class="truncate text-xs text-core-gray dark:text-neutral-500"
                        >
                          Telegram chat
                        </p>
                      </div>

                      <div class="hs-tooltip [--placement:left] inline-block">
                        <span
                          class="hs-tooltip-toggle flex shrink-0 justify-center items-center size-4 bg-emerald-500 text-white rounded-full"
                        >
                          <svg
                            class="shrink-0 size-2.5"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="3"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          >
                            <path d="M20 6 9 17l-5-5"></path>
                          </svg>
                        </span>
                        <span
                          class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 inline-block absolute invisible z-20 py-1 px-1.5 w-auto max-w-56 bg-core-dark text-xs text-white rounded-lg whitespace-nowrap dark:bg-neutral-700"
                          role="tooltip"
                        >
                          Resolved
                        </span>
                      </div>
                    </div>

                    <div class="flex items-center gap-x-1.5 mt-1">
                      <div class="w-10/12 truncate">
                        <p
                          class="truncate text-core-gray dark:text-neutral-500 text-xs"
                        >
                          You can always reply to this thread if you have
                          further questions or concerns.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End Message -->

            <!-- Message -->
            <div
              class="relative overflow-hidden group cursor-pointer bg-core-light hover:bg-core-light focus:outline-hidden focus:bg-core-light dark:bg-neutral-800 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700 dark:border-neutral-700"
            >
              <div
                class="py-4 px-5 border-b border-b-gray-100 dark:border-neutral-700"
              >
                <div class="flex gap-x-2.5">
                  <div class="mt-1 shrink-0">
                    <div class="relative size-8">
                      <img
                        class="shrink-0 size-7 rounded-full"
                        src="https://images.unsplash.com/photo-1601935111741-ae98b2b230b0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2.5&w=320&h=320&q=80"
                        alt="Avatar"
                      />
                      <span
                        class="absolute top-3.5 start-3.5 flex shrink-0 justify-center items-center size-5 bg-core-light rounded-full group-hover:bg-core-light dark:bg-neutral-800 dark:group-hover:bg-neutral-700"
                      >
                        <svg
                          class="shrink-0 size-3.5"
                          width="32"
                          height="32"
                          viewBox="0 0 32 32"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M16 32C24.8365 32 32 24.8365 32 16C32 7.16346 24.8365 0 16 0C7.16346 0 0 7.16346 0 16C0 24.8365 7.16346 32 16 32Z"
                            fill="#34AADF"></path>
                          <path
                            d="M6.65901 15.8612C6.65901 15.8612 14.659 12.578 17.4335 11.422C18.4972 10.9596 22.1041 9.47974 22.1041 9.47974C22.1041 9.47974 23.7688 8.83238 23.6301 10.4046C23.5838 11.052 23.2139 13.3179 22.844 15.7688C22.289 19.237 21.6879 23.0289 21.6879 23.0289C21.6879 23.0289 21.5954 24.0925 20.8093 24.2774C20.0232 24.4624 18.7283 23.6301 18.4972 23.4451C18.3121 23.3064 15.0289 21.2254 13.8266 20.2081C13.5029 19.9306 13.133 19.3757 13.8728 18.7283C15.5376 17.2023 17.526 15.3064 18.7283 14.1041C19.2833 13.5491 19.8381 12.2543 17.526 13.8266C14.2428 16.0925 11.0058 18.2196 11.0058 18.2196C11.0058 18.2196 10.2659 18.682 8.87866 18.2659C7.49133 17.8497 5.87283 17.2948 5.87283 17.2948C5.87283 17.2948 4.76307 16.6012 6.65901 15.8612Z"
                            fill="white"></path>
                        </svg>
                      </span>
                    </div>
                  </div>

                  <div class="grow truncate">
                    <div class="flex justify-between gap-x-1">
                      <span
                        class="block truncate font-medium text-[13px] text-core-dark dark:text-neutral-200"
                        >Costa Quinn</span
                      >
                      <span
                        class="block text-[10px] leading-5 text-core-gray uppercase dark:text-neutral-500"
                        >1w</span
                      >
                    </div>

                    <div class="mt-1 flex justify-between items-center gap-x-1">
                      <div class="w-10/12 truncate">
                        <p
                          class="truncate text-xs text-core-gray dark:text-neutral-500"
                        >
                          Telegram chat
                        </p>
                      </div>

                      <div class="hs-tooltip [--placement:left] inline-block">
                        <span
                          class="hs-tooltip-toggle flex shrink-0 justify-center items-center size-4 bg-emerald-500 text-white rounded-full"
                        >
                          <svg
                            class="shrink-0 size-2.5"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="3"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          >
                            <path d="M20 6 9 17l-5-5"></path>
                          </svg>
                        </span>
                        <span
                          class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 inline-block absolute invisible z-20 py-1 px-1.5 w-auto max-w-56 bg-core-dark text-xs text-white rounded-lg whitespace-nowrap dark:bg-neutral-700"
                          role="tooltip"
                        >
                          Resolved
                        </span>
                      </div>
                    </div>

                    <div class="flex items-center gap-x-1.5 mt-1">
                      <div class="w-10/12 truncate">
                        <p
                          class="truncate text-core-gray dark:text-neutral-500 text-xs"
                        >
                          Glad to help you. Should you have any addition
                          questions or concerns, please let me know.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End Message -->
          </div>
        </div>
        <!-- End Previous Conversations -->

        <!-- Shared Media -->
        <div class="hs-accordion active" id="hs-pro-chtdshmid1">
          <button
            type="button"
            class="hs-accordion-toggle p-5 pb-2 w-full flex justify-between items-center gap-x-3 text-core-dark hover:text-core-dark focus:outline-hidden focus:text-core-dark disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-200 dark:hover:text-core-gray dark:focus:text-core-gray"
            aria-expanded="true"
            aria-controls="hs-pro-chtdshmid1-collapse"
          >
            <span class="text-sm font-medium">Shared media</span>
            <svg
              class="hs-accordion-active:hidden block size-4"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M5 12h14"></path>
              <path d="M12 5v14"></path>
            </svg>
            <svg
              class="hs-accordion-active:block hidden size-4"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M5 12h14"></path>
            </svg>
          </button>

          <div
            id="hs-pro-chtdshmid1-collapse"
            class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300"
            role="region"
            aria-labelledby="hs-pro-chtdshmid1"
          >
            <div class="px-5 pb-5">
              <p class="text-[13px] text-core-gray dark:text-neutral-500">
                Only shared images appear here
              </p>
            </div>
          </div>
        </div>
        <!-- End Shared Media -->
      </div>
    </div>
    <!-- End Body -->
  </div>
</aside>
