<main
  id="content"
  class="md:ps-0 lg:ps-40 mainmenu-open:pt-10 2xl:hs-overlay-layout-open:pe-2 xl:ps-80 transition-all duration-300"
>
  <div class="p-2 sm:p-5 sm:py-0 md:pt-5 space-y-3">
    <!-- Account Card -->
    <div
      class="p-5 md:p-8 bg-core-light border border-core-gray shadow-2xs rounded-xl dark:bg-neutral-800 dark:border-neutral-700"
    >
      <!-- Title -->
      <div class="mb-4 xl:mb-8">
        <h1 class="text-lg font-semibold text-core-dark dark:text-neutral-200">
          Notificationes
        </h1>
        <p class="text-sm text-core-gray dark:text-neutral-500">
          Configura las notificaciones a tu email, webapp y whatsapp.
        </p>
      </div>
      <!-- End Title -->

      <!-- Notifications -->
      <div class="space-y-8">
        <!-- Notifications -->
        <div class="space-y-5">
          <!-- Header -->
          <div
            class="hidden sticky top-14 start-0 bg-core-light dark:bg-neutral-800 md:block"
          >
            <!-- Grid -->
            <div class="grid md:grid-cols-5 lg:gap-x-3 md:gap-x-6 p-3 md:p-5">
              <div class="col-span-2 self-center">
                <h2 class="font-semibold text-core-dark dark:text-neutral-200">
                  Notificame en:
                </h2>
              </div>
              <!-- End Col -->

              <div class="col-span-1 text-center">
                <svg
                  class="shrink-0 size-5 mx-auto text-core-gray dark:text-neutral-500"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <rect width="20" height="16" x="2" y="4" rx="2"></rect>
                  <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
                </svg>
                <h3
                  class="mt-2 text-sm font-medium text-core-dark dark:text-neutral-200"
                >
                  Email
                </h3>
              </div>
              <!-- End Col -->

              <div class="col-span-1 text-center">
                <svg
                  class="shrink-0 size-5 mx-auto text-core-gray dark:text-neutral-500"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <rect width="20" height="14" x="2" y="3" rx="2"></rect>
                  <line x1="8" x2="16" y1="21" y2="21"></line>
                  <line x1="12" x2="12" y1="17" y2="21"></line>
                </svg>
                <h3
                  class="mt-2 text-sm font-medium text-core-dark dark:text-neutral-200"
                >
                  WebAPP
                </h3>
                <p class="text-xs text-core-gray dark:text-neutral-500">
                  Push notification
                </p>
              </div>
              <!-- End Col -->

              <div class="col-span-1 text-center">
                <svg
                  class="shrink-0 size-5 mx-auto text-core-gray dark:text-neutral-500"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <rect width="14" height="20" x="5" y="2" rx="2" ry="2"></rect>
                  <path d="M12 18h.01"></path>
                </svg>
                <h3
                  class="mt-2 text-sm font-medium text-core-dark dark:text-neutral-200"
                >
                  Movil
                </h3>
                <p class="text-xs text-core-gray dark:text-neutral-500">
                  Mensajes Whatsapp
                </p>
              </div>
              <!-- End Col -->
            </div>
            <!-- End Grid -->
          </div>
          <!-- End Header -->

          <!-- List -->
          <ul
            class="grid md:grid-cols-5 md:gap-x-6 bg-core-light rounded-lg p-3 md:p-5 dark:bg-neutral-700"
          >
            <!-- Item -->
            <li class="md:col-span-2">
              <h3 class="font-semibold text-core-dark dark:text-neutral-200">
                General
              </h3>
            </li>
            <!-- End Item -->

            <!-- Item -->
            <li class="hidden md:block md:col-span-1 md:text-center">
              <button
                type="button"
                class="text-xs text-core-primary decoration-2 hover:underline font-medium focus:outline-hidden focus:underline dark:text-blue-500 dark:hover:text-blue-400"
              >
                Toggle all
              </button>
            </li>
            <!-- End Item -->

            <!-- Item -->
            <li class="hidden md:block md:col-span-1 md:text-center">
              <button
                type="button"
                class="text-xs text-core-primary decoration-2 hover:underline font-medium focus:outline-hidden focus:underline dark:text-blue-500 dark:hover:text-blue-400"
              >
                Toggle all
              </button>
            </li>
            <!-- End Item -->

            <!-- Item -->
            <li class="hidden md:block md:col-span-1 md:text-center">
              <button
                type="button"
                class="text-xs text-core-primary decoration-2 hover:underline font-medium focus:outline-hidden focus:underline dark:text-blue-500 dark:hover:text-blue-400"
              >
                Toggle all
              </button>
            </li>
            <!-- End Item -->
          </ul>
          <!-- End List -->

          <!-- List -->
          <ul
            class="grid md:grid-cols-5 md:items-center gap-1.5 md:gap-6 px-3 md:px-5"
          >
            <!-- Item -->
            <li class="md:col-span-2">
              <p
                class="text-sm font-medium text-core-dark dark:text-neutral-200"
              >
                Actualizaciones de datos
              </p>
              <p class="text-sm text-core-gray dark:text-neutral-500">
                Actualizaciones de bases de datos y origenes de información.
              </p>
            </li>
            <!-- End Item -->

            <!-- Item -->
            <li class="col-span-1">
              <div class="grid grid-cols-2 items-center md:block">
                <span
                  class="md:hidden text-sm text-core-gray dark:text-neutral-200"
                >
                  Email
                </span>
                <div class="text-end md:text-center">
                  <input
                    type="checkbox"
                    class="shrink-0 border-core-gray rounded-sm text-core-primary focus:ring-blue-500 checked:border-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-600 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
                    checked
                  />
                </div>
              </div>
            </li>
            <!-- End Item -->

            <!-- Item -->
            <li class="col-span-1">
              <div class="grid grid-cols-2 items-center md:block">
                <span
                  class="md:hidden text-sm text-core-gray dark:text-neutral-200"
                >
                  Desktop
                </span>
                <div class="text-end md:text-center">
                  <input
                    type="checkbox"
                    class="shrink-0 border-core-gray rounded-sm text-core-primary focus:ring-blue-500 checked:border-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-600 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
                  />
                </div>
              </div>
            </li>
            <!-- End Item -->

            <!-- Item -->
            <li class="col-span-1">
              <div class="grid grid-cols-2 items-center md:block">
                <span
                  class="md:hidden text-sm text-core-gray dark:text-neutral-200"
                >
                  Mobile
                </span>
                <div class="text-end md:text-center">
                  <input
                    type="checkbox"
                    class="shrink-0 border-core-gray rounded-sm text-core-primary focus:ring-blue-500 checked:border-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-600 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
                  />
                </div>
              </div>
            </li>
            <!-- End Item -->
          </ul>
          <!-- End List -->

          <!-- List -->
          <ul
            class="grid md:grid-cols-5 md:items-center gap-1.5 md:gap-6 px-3 md:px-5"
          >
            <!-- Item -->
            <li class="md:col-span-2">
              <p
                class="text-sm font-medium text-core-dark dark:text-neutral-200"
              >
                Actualización de características
              </p>
              <p class="text-sm text-core-gray dark:text-neutral-500">
                Recibe información de actualizaciones del sistema y nuevas
                características disponibles.
              </p>
            </li>
            <!-- End Item -->

            <!-- Item -->
            <li class="col-span-1">
              <div class="grid grid-cols-2 items-center md:block">
                <span
                  class="md:hidden text-sm text-core-gray dark:text-neutral-200"
                >
                  Email
                </span>
                <div class="text-end md:text-center">
                  <input
                    type="checkbox"
                    class="shrink-0 border-core-gray rounded-sm text-core-primary focus:ring-blue-500 checked:border-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-600 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
                    checked
                  />
                </div>
              </div>
            </li>
            <!-- End Item -->

            <!-- Item -->
            <li class="col-span-1">
              <div class="grid grid-cols-2 items-center md:block">
                <span
                  class="md:hidden text-sm text-core-gray dark:text-neutral-200"
                >
                  Desktop
                </span>
                <div class="text-end md:text-center">
                  <input
                    type="checkbox"
                    class="shrink-0 border-core-gray rounded-sm text-core-primary focus:ring-blue-500 checked:border-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-600 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
                  />
                </div>
              </div>
            </li>
            <!-- End Item -->

            <!-- Item -->
            <li class="col-span-1">
              <div class="grid grid-cols-2 items-center md:block">
                <span
                  class="md:hidden text-sm text-core-gray dark:text-neutral-200"
                >
                  Mobile
                </span>
                <div class="text-end md:text-center">
                  <input
                    type="checkbox"
                    class="shrink-0 border-core-gray rounded-sm text-core-primary focus:ring-blue-500 checked:border-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-600 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
                  />
                </div>
              </div>
            </li>
            <!-- End Item -->
          </ul>
          <!-- End List -->

          <!-- List -->
          <ul
            class="grid md:grid-cols-5 md:gap-x-6 bg-core-light rounded-lg p-3 md:p-5 dark:bg-neutral-700"
          >
            <!-- Item -->
            <li class="md:col-span-2">
              <h3 class="font-semibold text-core-dark dark:text-neutral-200">
                Usuarios
              </h3>
            </li>
            <!-- End Item -->

            <!-- Item -->
            <li class="hidden md:block md:col-span-1 md:text-center">
              <button
                type="button"
                class="text-xs text-core-primary decoration-2 hover:underline font-medium focus:outline-hidden focus:underline dark:text-blue-500 dark:hover:text-blue-400"
              >
                Toggle all
              </button>
            </li>
            <!-- End Item -->

            <!-- Item -->
            <li class="hidden md:block md:col-span-1 md:text-center">
              <button
                type="button"
                class="text-xs text-core-primary decoration-2 hover:underline font-medium focus:outline-hidden focus:underline dark:text-blue-500 dark:hover:text-blue-400"
              >
                Toggle all
              </button>
            </li>
            <!-- End Item -->

            <!-- Item -->
            <li class="hidden md:block md:col-span-1 md:text-center">
              <button
                type="button"
                class="text-xs text-core-primary decoration-2 hover:underline font-medium focus:outline-hidden focus:underline dark:text-blue-500 dark:hover:text-blue-400"
              >
                Toggle all
              </button>
            </li>
            <!-- End Item -->
          </ul>
          <!-- End List -->

          <!-- List -->
          <ul
            class="grid md:grid-cols-5 md:items-center gap-1.5 md:gap-6 px-3 md:px-5"
          >
            <!-- Item -->
            <li class="md:col-span-2">
              <p
                class="text-sm font-medium text-core-dark dark:text-neutral-200"
              >
                Invitaciones
              </p>
              <p class="text-sm text-core-gray dark:text-neutral-500">
                Aceptación o rechazo de las invitaciones serán notificadas para
                mantenerte al tanto.
              </p>
            </li>
            <!-- End Item -->

            <!-- Item -->
            <li class="col-span-1">
              <div class="grid grid-cols-2 items-center md:block">
                <span
                  class="md:hidden text-sm text-core-gray dark:text-neutral-200"
                >
                  Email
                </span>
                <div class="text-end md:text-center">
                  <input
                    type="checkbox"
                    class="shrink-0 border-core-gray rounded-sm text-core-primary focus:ring-blue-500 checked:border-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-600 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
                    checked
                  />
                </div>
              </div>
            </li>
            <!-- End Item -->

            <!-- Item -->
            <li class="col-span-1">
              <div class="grid grid-cols-2 items-center md:block">
                <span
                  class="md:hidden text-sm text-core-gray dark:text-neutral-200"
                >
                  Desktop
                </span>
                <div class="text-end md:text-center">
                  <input
                    type="checkbox"
                    class="shrink-0 border-core-gray rounded-sm text-core-primary focus:ring-blue-500 checked:border-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-600 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
                  />
                </div>
              </div>
            </li>
            <!-- End Item -->

            <!-- Item -->
            <li class="col-span-1">
              <div class="grid grid-cols-2 items-center md:block">
                <span
                  class="md:hidden text-sm text-core-gray dark:text-neutral-200"
                >
                  Mobile
                </span>
                <div class="text-end md:text-center">
                  <input
                    type="checkbox"
                    class="shrink-0 border-core-gray rounded-sm text-core-primary focus:ring-blue-500 checked:border-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-600 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
                  />
                </div>
              </div>
            </li>
            <!-- End Item -->
          </ul>
          <!-- End List -->

          <!-- List -->
          <ul
            class="grid md:grid-cols-5 md:gap-x-6 bg-core-light rounded-lg p-3 md:p-5 dark:bg-neutral-700"
          >
            <!-- Item -->
            <li class="md:col-span-2">
              <h3 class="font-semibold text-core-dark dark:text-neutral-200">
                Tareas
              </h3>
            </li>
            <!-- End Item -->

            <!-- Item -->
            <li class="hidden md:block md:col-span-1 md:text-center">
              <button
                type="button"
                class="text-xs text-core-primary decoration-2 hover:underline font-medium focus:outline-hidden focus:underline dark:text-blue-500 dark:hover:text-blue-400"
              >
                Toggle all
              </button>
            </li>
            <!-- End Item -->

            <!-- Item -->
            <li class="hidden md:block md:col-span-1 md:text-center">
              <button
                type="button"
                class="text-xs text-core-primary decoration-2 hover:underline font-medium focus:outline-hidden focus:underline dark:text-blue-500 dark:hover:text-blue-400"
              >
                Toggle all
              </button>
            </li>
            <!-- End Item -->

            <!-- Item -->
            <li class="hidden md:block md:col-span-1 md:text-center">
              <button
                type="button"
                class="text-xs text-core-primary decoration-2 hover:underline font-medium focus:outline-hidden focus:underline dark:text-blue-500 dark:hover:text-blue-400"
              >
                Toggle all
              </button>
            </li>
            <!-- End Item -->
          </ul>
          <!-- End List -->

          <!-- List -->
          <ul
            class="grid md:grid-cols-5 md:items-center gap-1.5 md:gap-6 px-3 md:px-5"
          >
            <!-- Item -->
            <li class="md:col-span-2">
              <p
                class="text-sm font-medium text-core-dark dark:text-neutral-200"
              >
                Ordenes de Compra
              </p>
              <p class="text-sm text-core-gray dark:text-neutral-500">
                Notifica la creación de una nueva Orden de Compra (OC).
              </p>
            </li>
            <!-- End Item -->

            <!-- Item -->
            <li class="col-span-1">
              <div class="grid grid-cols-2 items-center md:block">
                <span
                  class="md:hidden text-sm text-core-gray dark:text-neutral-200"
                >
                  Email
                </span>
                <div class="text-end md:text-center">
                  <input
                    type="checkbox"
                    class="shrink-0 border-core-gray rounded-sm text-core-primary focus:ring-blue-500 checked:border-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-600 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
                    checked
                  />
                </div>
              </div>
            </li>
            <!-- End Item -->

            <!-- Item -->
            <li class="col-span-1">
              <div class="grid grid-cols-2 items-center md:block">
                <span
                  class="md:hidden text-sm text-core-gray dark:text-neutral-200"
                >
                  Desktop
                </span>
                <div class="text-end md:text-center">
                  <input
                    type="checkbox"
                    class="shrink-0 border-core-gray rounded-sm text-core-primary focus:ring-blue-500 checked:border-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-600 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
                    checked
                  />
                </div>
              </div>
            </li>
            <!-- End Item -->

            <!-- Item -->
            <li class="col-span-1">
              <div class="grid grid-cols-2 items-center md:block">
                <span
                  class="md:hidden text-sm text-core-gray dark:text-neutral-200"
                >
                  Mobile
                </span>
                <div class="text-end md:text-center">
                  <input
                    type="checkbox"
                    class="shrink-0 border-core-gray rounded-sm text-core-primary focus:ring-blue-500 checked:border-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-600 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
                    checked
                  />
                </div>
              </div>
            </li>
            <!-- End Item -->
          </ul>
          <!-- End List -->

          <!-- List -->
          <ul
            class="grid md:grid-cols-5 md:items-center gap-1.5 md:gap-6 px-3 md:px-5"
          >
            <!-- Item -->
            <li class="md:col-span-2">
              <p
                class="text-sm font-medium text-core-dark dark:text-neutral-200"
              >
                Ordenes de Trabajo
              </p>
              <p class="text-sm text-core-gray dark:text-neutral-500">
                Notifica la creación de una nueva Orden de Trabajo (OT).
              </p>
            </li>
            <!-- End Item -->

            <!-- Item -->
            <li class="col-span-1">
              <div class="grid grid-cols-2 items-center md:block">
                <span
                  class="md:hidden text-sm text-core-gray dark:text-neutral-200"
                >
                  Email
                </span>
                <div class="text-end md:text-center">
                  <input
                    type="checkbox"
                    class="shrink-0 border-core-gray rounded-sm text-core-primary focus:ring-blue-500 checked:border-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-600 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
                    checked
                  />
                </div>
              </div>
            </li>
            <!-- End Item -->

            <!-- Item -->
            <li class="col-span-1">
              <div class="grid grid-cols-2 items-center md:block">
                <span
                  class="md:hidden text-sm text-core-gray dark:text-neutral-200"
                >
                  Desktop
                </span>
                <div class="text-end md:text-center">
                  <input
                    type="checkbox"
                    class="shrink-0 border-core-gray rounded-sm text-core-primary focus:ring-blue-500 checked:border-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-600 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
                    checked
                  />
                </div>
              </div>
            </li>
            <!-- End Item -->

            <!-- Item -->
            <li class="col-span-1">
              <div class="grid grid-cols-2 items-center md:block">
                <span
                  class="md:hidden text-sm text-core-gray dark:text-neutral-200"
                >
                  Mobile
                </span>
                <div class="text-end md:text-center">
                  <input
                    type="checkbox"
                    class="shrink-0 border-core-gray rounded-sm text-core-primary focus:ring-blue-500 checked:border-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-600 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
                    checked
                  />
                </div>
              </div>
            </li>
            <!-- End Item -->
          </ul>
          <!-- End List -->

          <!-- List -->
          <ul
            class="grid md:grid-cols-5 md:items-center gap-1.5 md:gap-6 px-3 md:px-5"
          >
            <!-- Item -->
            <li class="md:col-span-2">
              <p
                class="text-sm font-medium text-core-dark dark:text-neutral-200"
              >
                Facturación
              </p>
              <p class="text-sm text-core-gray dark:text-neutral-500">
                Notifica la realización de un nuevo DTE.
              </p>
            </li>
            <!-- End Item -->

            <!-- Item -->
            <li class="col-span-1">
              <div class="grid grid-cols-2 items-center md:block">
                <span
                  class="md:hidden text-sm text-core-gray dark:text-neutral-200"
                >
                  Email
                </span>
                <div class="text-end md:text-center">
                  <input
                    type="checkbox"
                    class="shrink-0 border-core-gray rounded-sm text-core-primary focus:ring-blue-500 checked:border-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-600 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
                    checked
                  />
                </div>
              </div>
            </li>
            <!-- End Item -->

            <!-- Item -->
            <li class="col-span-1">
              <div class="grid grid-cols-2 items-center md:block">
                <span
                  class="md:hidden text-sm text-core-gray dark:text-neutral-200"
                >
                  Desktop
                </span>
                <div class="text-end md:text-center">
                  <input
                    type="checkbox"
                    class="shrink-0 border-core-gray rounded-sm text-core-primary focus:ring-blue-500 checked:border-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-600 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
                    checked
                  />
                </div>
              </div>
            </li>
            <!-- End Item -->

            <!-- Item -->
            <li class="col-span-1">
              <div class="grid grid-cols-2 items-center md:block">
                <span
                  class="md:hidden text-sm text-core-gray dark:text-neutral-200"
                >
                  Mobile
                </span>
                <div class="text-end md:text-center">
                  <input
                    type="checkbox"
                    class="shrink-0 border-core-gray rounded-sm text-core-primary focus:ring-blue-500 checked:border-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-600 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
                    checked
                  />
                </div>
              </div>
            </li>
            <!-- End Item -->
          </ul>
          <!-- End List -->
        </div>
        <!-- End Notifications -->

        <div class="border-t border-core-gray dark:border-neutral-700"></div>

        <!-- Title -->
        <div>
          <h2 class="text-lg font-semibold text-core-dark dark:text-neutral-200">
            c0re emails
          </h2>
          <p class="text-sm text-core-gray dark:text-neutral-500">
            Mantente al tanto de las notificaciones de c0re.
          </p>
        </div>
        <!-- End Title -->

        <!-- Grid -->
        <div
          class="grid sm:grid-cols-2 gap-y-6 sm:gap-y-0 sm:gap-x-10 md:gap-x-16"
        >
          <div class="space-y-6">
            <!-- Switch -->
            <div class="flex gap-x-4">
              <div class="mt-1">
                <label
                  for="hs-pro-danpe1"
                  class="relative inline-block w-11 h-6 cursor-pointer"
                >
                  <input
                    type="checkbox"
                    id="hs-pro-danpe1"
                    class="peer sr-only"
                    checked
                  />
                  <span
                    class="absolute inset-0 bg-core-gray/30 rounded-full transition-colors duration-200 ease-in-out peer-checked:bg-core-primary dark:bg-neutral-700 dark:peer-checked:bg-blue-500 peer-disabled:opacity-50 peer-disabled:pointer-events-none"
                  ></span>
                  <span
                    class="absolute top-1/2 start-0.5 -translate-y-1/2 size-5 bg-core-light rounded-full shadow-sm transition-transform duration-200 ease-in-out peer-checked:translate-x-full dark:bg-neutral-400 dark:peer-checked:bg-core-light"
                  ></span>
                </label>
              </div>
              <div class="flex flex-col">
                <span
                  class="block text-sm font-medium text-core-dark dark:text-neutral-300"
                >
                  Recomendaciones
                </span>
                <p class="text-sm text-core-gray dark:text-neutral-500">
                  Recomendaciones personalizadas de uso.
                </p>
              </div>
            </div>
            <!-- End Switch -->

            <!-- Switch -->
            <div class="flex gap-x-4">
              <div class="mt-1">
                <label
                  for="hs-pro-danpe2"
                  class="relative inline-block w-11 h-6 cursor-pointer"
                >
                  <input
                    type="checkbox"
                    id="hs-pro-danpe2"
                    class="peer sr-only"
                    checked
                  />
                  <span
                    class="absolute inset-0 bg-core-gray/30 rounded-full transition-colors duration-200 ease-in-out peer-checked:bg-core-primary dark:bg-neutral-700 dark:peer-checked:bg-blue-500 peer-disabled:opacity-50 peer-disabled:pointer-events-none"
                  ></span>
                  <span
                    class="absolute top-1/2 start-0.5 -translate-y-1/2 size-5 bg-core-light rounded-full shadow-sm transition-transform duration-200 ease-in-out peer-checked:translate-x-full dark:bg-neutral-400 dark:peer-checked:bg-core-light"
                  ></span>
                </label>
              </div>
              <div class="flex flex-col">
                <span
                  class="block text-sm font-medium text-core-dark dark:text-neutral-300"
                >
                  Que hay de nuevo
                </span>
                <p class="text-sm text-core-gray dark:text-neutral-500">
                  Actualizaciones y novedades en características y nuevas
                  funcionalidades.
                </p>
              </div>
            </div>
            <!-- End Switch -->

            <!-- Switch -->
            <div class="flex gap-x-4">
              <div class="mt-1">
                <label
                  for="hs-pro-danpe4"
                  class="relative inline-block w-11 h-6 cursor-pointer"
                >
                  <input
                    type="checkbox"
                    id="hs-pro-danpe4"
                    class="peer sr-only"
                    checked
                  />
                  <span
                    class="absolute inset-0 bg-core-gray/30 rounded-full transition-colors duration-200 ease-in-out peer-checked:bg-core-primary dark:bg-neutral-700 dark:peer-checked:bg-blue-500 peer-disabled:opacity-50 peer-disabled:pointer-events-none"
                  ></span>
                  <span
                    class="absolute top-1/2 start-0.5 -translate-y-1/2 size-5 bg-core-light rounded-full shadow-sm transition-transform duration-200 ease-in-out peer-checked:translate-x-full dark:bg-neutral-400 dark:peer-checked:bg-core-light"
                  ></span>
                </label>
              </div>
              <div class="flex flex-col">
                <span
                  class="block text-sm font-medium text-core-dark dark:text-neutral-300"
                >
                  Alerta Nuevo Login
                </span>
                <p class="text-sm text-core-gray dark:text-neutral-500">
                  Obten inmediatamente un email, cuando se detecte un nuevo
                  login.
                </p>
              </div>
            </div>
            <!-- End Switch -->
          </div>
          <!-- End Col -->

          <div class="space-y-6">
            <!-- Switch -->
            <div class="flex gap-x-4">
              <div class="mt-1">
                <label
                  for="hs-pro-danpe6"
                  class="relative inline-block w-11 h-6 cursor-pointer"
                >
                  <input
                    type="checkbox"
                    id="hs-pro-danpe6"
                    class="peer sr-only"
                  />
                  <span
                    class="absolute inset-0 bg-core-gray/30 rounded-full transition-colors duration-200 ease-in-out peer-checked:bg-core-primary dark:bg-neutral-700 dark:peer-checked:bg-blue-500 peer-disabled:opacity-50 peer-disabled:pointer-events-none"
                  ></span>
                  <span
                    class="absolute top-1/2 start-0.5 -translate-y-1/2 size-5 bg-core-light rounded-full shadow-sm transition-transform duration-200 ease-in-out peer-checked:translate-x-full dark:bg-neutral-400 dark:peer-checked:bg-core-light"
                  ></span>
                </label>
              </div>
              <div class="flex flex-col">
                <span
                  class="block text-sm font-medium text-core-dark dark:text-neutral-300"
                >
                  Ofertas
                </span>
                <p class="text-sm text-core-gray dark:text-neutral-500">
                  Descuentos especiales, ofertas y promociones.
                </p>
              </div>
            </div>
            <!-- End Switch -->

            <!-- Switch -->
            <div class="flex gap-x-4">
              <div class="mt-1">
                <label
                  for="hs-pro-danpe7"
                  class="relative inline-block w-11 h-6 cursor-pointer"
                >
                  <input
                    type="checkbox"
                    id="hs-pro-danpe7"
                    class="peer sr-only"
                  />
                  <span
                    class="absolute inset-0 bg-core-gray/30 rounded-full transition-colors duration-200 ease-in-out peer-checked:bg-core-primary dark:bg-neutral-700 dark:peer-checked:bg-blue-500 peer-disabled:opacity-50 peer-disabled:pointer-events-none"
                  ></span>
                  <span
                    class="absolute top-1/2 start-0.5 -translate-y-1/2 size-5 bg-core-light rounded-full shadow-sm transition-transform duration-200 ease-in-out peer-checked:translate-x-full dark:bg-neutral-400 dark:peer-checked:bg-core-light"
                  ></span>
                </label>
              </div>
              <div class="flex flex-col">
                <span
                  class="block text-sm font-medium text-core-dark dark:text-neutral-300"
                >
                  Investigación y Retroalimentación
                </span>
                <p class="text-sm text-core-gray dark:text-neutral-500">
                  Invitaciones especiales para realización de pruebas o
                  investigación de nuevas funcionalidades.
                </p>
              </div>
            </div>
            <!-- End Switch -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Grid -->

        <div class="border-t border-core-gray dark:border-neutral-700"></div>

        <!-- Button Group -->
        <div class="flex gap-x-3">
          <button
            type="button"
            class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-core-primary text-white hover:opacity-80 disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:ring-2 focus:ring-blue-500"
          >
            Guardar Cambios
          </button>
          <button
            type="button"
            class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-core-gray bg-core-light text-core-dark shadow-2xs hover:bg-core-light disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-core-light dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
          >
            Cancelar
          </button>
        </div>
        <!-- End Button Group -->
      </div>
      <!-- End Notifications -->
    </div>
    <!-- End Account Card -->
  </div>
</main>
