<main
  id="content"
  class="md:ps-0 lg:ps-40 mainmenu-open:pt-10 2xl:hs-overlay-layout-open:pe-2 xl:ps-80 transition-all duration-300"
>
  <div class="p-2 sm:p-5 sm:py-0 md:pt-5 space-y-3">
    <!-- Account Card -->
    <div
      class="p-5 md:p-8 bg-core-light border border-core-gray shadow-2xs rounded-xl dark:bg-neutral-800 dark:border-neutral-700"
    >
      <!-- Title -->
      <div class="flex justify-between gap-x-3 mb-4 xl:mb-8">
        <div>
          <h1 class="text-lg font-semibold text-core-dark dark:text-neutral-200">
            Facturación y planes
          </h1>
          <p class="text-sm text-core-gray dark:text-neutral-500">
            Visualiza tu información de plan o cambia de plan según tus
            necesidades.
          </p>
        </div>
        <!-- End Col -->

        <div class="shrink-0">
          <button
            type="button"
            class="py-2 px-3 flex items-center gap-x-2 text-sm font-medium rounded-lg border border-core-gray bg-core-light text-core-dark shadow-2xs hover:bg-core-light disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-core-light dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
            data-hs-overlay="#hs-pro-dmgprom"
          >
            <svg
              class="shrink-0 size-4"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <polyline points="20 12 20 22 4 22 4 12"></polyline>
              <rect width="20" height="5" x="2" y="7"></rect>
              <line x1="12" x2="12" y1="22" y2="7"></line>
              <path d="M12 7H7.5a2.5 2.5 0 0 1 0-5C11 2 12 7 12 7z"></path>
              <path d="M12 7h4.5a2.5 2.5 0 0 0 0-5C13 2 12 7 12 7z"></path>
            </svg>
            Regala PRO
          </button>
        </div>
      </div>
      <!-- End Title -->

      <div class="space-y-11">
        <!-- Grid -->
        <div class="grid xl:grid-cols-2 gap-6">
          <!-- Card -->
          <div
            class="flex flex-col bg-core-light border border-core-gray rounded-xl dark:bg-neutral-800 dark:border-neutral-700"
          >
            <!-- Body -->
            <div class="h-full p-4 md:p-6">
              <svg
                class="w-8.5 h-7.5"
                width="34"
                height="30"
                viewBox="0 0 34 30"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  x="7"
                  width="20"
                  height="20"
                  rx="10"
                  fill="currentColor"
                  class="fill-core-primary/20 dark:fill-core-primary"></rect>
                <rect
                  y="10"
                  width="20"
                  height="20"
                  rx="10"
                  fill="currentColor"
                  class="fill-core-primary/40 dark:fill-core-primary"></rect>
                <rect
                  x="14"
                  y="10"
                  width="20"
                  height="20"
                  rx="10"
                  fill="currentColor"
                  class="fill-core-primary dark:fill-core-primary"></rect>
              </svg>

              <!-- Grid -->
              <div class="mt-3 grid grid-cols-2 gap-x-2">
                <div>
                  <div class="flex items-center gap-x-2">
                    <h2
                      class="text-xl font-semibold text-core-dark dark:text-neutral-200"
                    >
                      Startup
                    </h2>
                    <span
                      class="inline-flex items-center gap-1.5 py-1.5 px-2 text-xs font-medium bg-blue-100 text-blue-800 rounded-full dark:bg-blue-500/10 dark:text-blue-500"
                    >
                      <span
                        class="size-1.5 inline-block bg-blue-800 rounded-full dark:bg-blue-500"
                      ></span>
                      Activo
                    </span>
                  </div>

                  <p class="mt-1.5 text-sm text-core-gray dark:text-neutral-500">
                    Se renueva el 1 de Agosto del 2025
                  </p>
                </div>
                <!-- End Col -->

                <div class="text-end">
                  <h2
                    class="text-2xl font-semibold text-core-dark dark:text-neutral-200"
                  >
                    $3 UF
                  </h2>

                  <p class="text-sm text-core-gray dark:text-neutral-500">
                    mensual
                  </p>
                </div>
                <!-- End Col -->
              </div>
              <!-- End Grid -->

              <!-- Progress -->
              <div class="my-4">
                <div class="flex justify-between items-center gap-x-2 mb-1">
                  <h4 class="font-medium text-core-dark dark:text-neutral-200">
                    Usuarios
                  </h4>
                  <p class="text-sm text-core-gray dark:text-neutral-500">
                    2 of 5 used
                  </p>
                </div>
                <div
                  class="flex w-full h-2.5 bg-core-gray/30 rounded-full overflow-hidden dark:bg-neutral-700"
                  role="progressbar"
                  aria-valuenow="2"
                  aria-valuemin="0"
                  aria-valuemax="5"
                >
                  <div
                    class="flex flex-col justify-center overflow-hidden bg-core-primary text-xs text-white text-center rounded-full whitespace-nowrap"
                    style="width: 40%"
                  >
                  </div>
                </div>
              </div>
              <!-- End Progress -->

              <div class="flex justify-end items-center gap-x-2">
                <div class="hs-tooltip inline-block">
                  <svg
                    class="shrink-0 size-5 text-core-gray dark:text-neutral-500"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <circle cx="12" cy="12" r="10"></circle>
                    <path d="m16 12-4-4-4 4"></path>
                    <path d="M12 16V8"></path>
                  </svg>
                  <span
                    class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 inline-block absolute invisible z-20 max-w-48 text-center py-1.5 px-2.5 bg-core-dark text-xs text-white rounded-lg dark:bg-neutral-700"
                    role="tooltip"
                  >
                    Upgrade your plan to unlock the Manage Seats feature
                  </span>
                </div>
                <button
                  type="button"
                  class="hs-tooltip-toggle py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-core-gray bg-core-light text-core-dark shadow-2xs hover:bg-core-light disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-core-light dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
                  disabled
                >
                  Manage seats
                </button>
              </div>
            </div>
            <!-- End Body -->

            <!-- Footer -->
            <div
              class="flex border-t border-core-gray divide-x divide-gray-200 dark:border-neutral-700 dark:divide-neutral-700"
            >
              <button
                type="button"
                class="py-3 px-4 w-full inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-es-xl bg-core-light text-core-dark shadow-xs hover:bg-core-light disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-core-light dark:bg-neutral-800 dark:text-neutral-300 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
                data-hs-overlay="#hs-pro-dlcsam"
              >
                Cancelar suscripción
              </button>
              <a
                class="py-3 px-4 w-full inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-ee-xl bg-core-light text-core-dark shadow-2xs hover:bg-core-light disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-core-light dark:bg-neutral-800 dark:text-neutral-300 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
                href="../../pro/dashboard/plans.html"
              >
                Mejorar plan
                <svg
                  class="shrink-0 size-4"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path d="M7 7h10v10"></path>
                  <path d="M7 17 17 7"></path>
                </svg>
              </a>
            </div>
            <!-- End Footer -->
          </div>
          <!-- End Card -->

          <!-- Manage Cards Modal -->
          <div
            class="flex flex-col bg-core-light border border-core-gray rounded-xl dark:bg-neutral-800 dark:border-neutral-700"
          >
            <!-- Body -->
            <div class="h-full p-4 md:p-6">
              <h2
                class="text-xl font-semibold text-core-dark dark:text-neutral-200"
              >
                Metodos de pago
              </h2>

              <p class="mt-2 text-sm text-core-gray dark:text-neutral-500">
                Agrega y administra los métodos de pago para esta cuenta.
              </p>

              <div class="mt-6">
                <!-- List Group -->
                <ul
                  class="flex flex-col bg-core-light -space-y-px dark:bg-neutral-800 dark:border-neutral-700"
                >
                  <!-- List Item -->
                  <li
                    class="py-4 first:pt-0 last:pb-0 border-t border-core-gray first:border-t-0 dark:border-neutral-700"
                  >
                    <!-- Media -->
                    <div class="flex gap-x-3">
                      <!-- Logo -->
                      <div>
                        <div
                          class="py-1.5 px-2.5 sm:py-2.5 sm:px-3 border border-core-gray rounded-lg dark:border-neutral-700"
                        >
                          <svg
                            class="shrink-0 w-6 sm:w-8 h-auto"
                            width="35"
                            height="22"
                            viewBox="0 0 35 22"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <mask
                              id="mask0_666_270977asdasd"
                              style="mask-type:luminance"
                              maskUnits="userSpaceOnUse"
                              x="0"
                              y="5"
                              width="35"
                              height="12"
                            >
                              <path
                                d="M34.5 5.4751H0.5V16.5081H34.5V5.4751Z"
                                fill="white"></path>
                            </mask>
                            <g mask="url(#mask0_666_270977asdasd)">
                              <path
                                d="M15.239 16.3211H12.468L14.202 5.6621H16.973L15.239 16.3211ZM10.139 5.6621L7.487 12.9891L7.181 11.4081L6.246 6.6311C6.246 6.6311 6.127 5.6791 4.937 5.6791H0.551L0.5 5.8491C0.5 5.8491 1.843 6.1211 3.407 7.0731L5.821 16.3381H8.711L13.131 5.6791L10.139 5.6621ZM31.95 16.3211H34.5L32.273 5.6621H30.046C29.009 5.6621 28.771 6.4611 28.771 6.4611L24.64 16.3211H27.53L28.108 14.7401H31.627L31.95 16.3211ZM28.907 12.5471L30.369 8.5521L31.185 12.5471H28.907ZM24.844 8.2291L25.235 5.9341C25.235 5.9341 24.011 5.4751 22.736 5.4751C21.359 5.4751 18.095 6.0701 18.095 9.0111C18.095 11.7651 21.937 11.7991 21.937 13.2441C21.937 14.6891 18.503 14.4341 17.364 13.5161L16.956 15.9131C16.956 15.9131 18.197 16.5081 20.084 16.5081C21.971 16.5081 24.827 15.5221 24.827 12.8531C24.827 10.0821 20.951 9.8271 20.951 8.6201C20.951 7.4131 23.654 7.5661 24.844 8.2291Z"
                                fill="#2566AF"></path>
                              <path
                                d="M7.181 11.4252L6.246 6.6312C6.246 6.6312 6.127 5.6792 4.937 5.6792H0.551L0.5 5.8492C0.5 5.8492 2.608 6.2912 4.614 7.9232C6.552 9.4702 7.181 11.4252 7.181 11.4252Z"
                                fill="#E6A540"></path>
                            </g>
                          </svg>
                        </div>
                      </div>
                      <!-- End Logo -->

                      <!-- Body -->
                      <div
                        class="grow flex flex-col sm:flex-row sm:justify-between gap-3"
                      >
                        <div>
                          <p
                            class="text-sm font-medium text-core-dark dark:text-neutral-200"
                          >
                            Visa •••• 9016
                          </p>
                          <p
                            class="text-xs text-core-gray dark:text-neutral-500"
                          >
                            Debit Expires 12/25
                          </p>
                        </div>

                        <!-- Button Group -->
                        <div class="flex gap-x-2">
                          <div>
                            <button
                              type="button"
                              class="py-2 px-2.5 inline-flex items-center gap-x-2 text-xs font-medium rounded-lg border border-core-gray bg-core-light text-core-dark shadow-2xs hover:bg-core-light disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-core-light dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
                              disabled
                            >
                              Default
                            </button>
                          </div>

                          <div>
                            <button
                              type="button"
                              class="py-2 px-2.5 inline-flex items-center gap-x-2 text-xs font-semibold rounded-lg border border-transparent bg-core-gray/30 text-core-dark hover:bg-core-gray/50 disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-core-gray/50 dark:bg-neutral-600 dark:text-neutral-200 dark:hover:bg-neutral-500 dark:focus:bg-neutral-700"
                              data-hs-overlay="#hs-pro-deacm"
                            >
                              Edit
                            </button>
                          </div>
                        </div>
                        <!-- End Button Group -->
                      </div>
                      <!-- End Body -->
                    </div>
                    <!-- End Media -->
                  </li>
                  <!-- End List Item -->

                  <!-- List Item -->
                  <li
                    class="py-4 first:pt-0 last:pb-0 border-t border-core-gray first:border-t-0 dark:border-neutral-700"
                  >
                    <!-- Media -->
                    <div class="flex gap-x-3">
                      <!-- Logo -->
                      <div>
                        <div
                          class="py-1.5 px-2.5 sm:py-2.5 sm:px-3 border border-core-gray rounded-lg dark:border-neutral-700"
                        >
                          <svg
                            class="shrink-0 w-6 sm:w-8 h-auto"
                            width="35"
                            height="22"
                            viewBox="0 0 35 22"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <mask
                              id="asfasfa1123f33123"
                              style="mask-type:luminance"
                              maskUnits="userSpaceOnUse"
                              x="0"
                              y="0"
                              width="35"
                              height="22"
                            >
                              <path
                                d="M34.5 0.375H0.5V21.387H34.5V0.375Z"
                                fill="white"></path>
                            </mask>
                            <g mask="url(#asfasfa1123f33123)">
                              <path
                                d="M22.0899 19.1431H12.9099V2.61914H22.0899V19.1431Z"
                                fill="#FF5F00"></path>
                              <path
                                d="M13.488 10.881C13.488 7.532 15.052 4.54 17.5 2.619C15.647 1.157 13.369 0.375 11.006 0.375C5.209 0.375 0.5 5.084 0.5 10.881C0.5 16.678 5.209 21.387 11.006 21.387C13.369 21.387 15.647 20.605 17.5 19.143C15.052 17.222 13.488 14.23 13.488 10.881Z"
                                fill="#EB001B"></path>
                              <path
                                d="M34.5 10.881C34.5 16.678 29.791 21.387 23.994 21.387C21.631 21.387 19.353 20.605 17.5 19.143C19.948 17.222 21.512 14.23 21.512 10.881C21.512 7.532 19.948 4.54 17.5 2.619C19.353 1.157 21.631 0.375 23.994 0.375C29.791 0.375 34.5 5.084 34.5 10.881Z"
                                fill="#F79E1B"></path>
                            </g>
                          </svg>
                        </div>
                      </div>
                      <!-- End Logo -->

                      <!-- Body -->
                      <div
                        class="grow flex flex-col sm:flex-row sm:justify-between gap-3"
                      >
                        <div>
                          <p
                            class="text-sm font-medium text-core-dark dark:text-neutral-200"
                          >
                            MasterCard •••• 4242
                          </p>
                          <p
                            class="text-xs text-core-gray dark:text-neutral-500"
                          >
                            Debit Expires 04/24
                          </p>
                        </div>

                        <!-- Button Group -->
                        <div class="flex gap-x-2">
                          <div>
                            <button
                              type="button"
                              class="py-2 px-2.5 inline-flex items-center gap-x-2 text-xs font-medium rounded-lg border border-core-gray bg-core-light text-core-dark shadow-2xs hover:bg-core-light disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-core-light dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
                            >
                              Set as default
                            </button>
                          </div>

                          <div>
                            <button
                              type="button"
                              class="py-2 px-2.5 inline-flex items-center gap-x-2 text-xs font-semibold rounded-lg border border-transparent bg-core-gray/30 text-core-dark hover:bg-core-gray/50 disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-core-gray/50 dark:bg-neutral-600 dark:text-neutral-200 dark:hover:bg-neutral-500 dark:focus:bg-neutral-700"
                              data-hs-overlay="#hs-pro-deacm"
                            >
                              Edit
                            </button>
                          </div>
                        </div>
                        <!-- End Button Group -->
                      </div>
                      <!-- End Body -->
                    </div>
                    <!-- End Media -->
                  </li>
                  <!-- End List Item -->
                </ul>
                <!-- End List Group -->
              </div>
            </div>
            <!-- End Body -->

            <!-- Footer -->
            <div
              class="flex border-t border-core-gray divide-x divide-gray-200 dark:border-neutral-700 dark:divide-neutral-700"
            >
              <button
                type="button"
                class="py-3 px-4 w-full inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-es-xl bg-core-light text-core-dark shadow-xs hover:bg-core-light disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-core-light dark:bg-neutral-800 dark:text-neutral-300 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
                data-hs-overlay="#hs-pro-dmcm"
              >
                Administra
              </button>
              <button
                type="button"
                class="py-3 px-4 w-full inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-ee-xl bg-core-light text-core-dark shadow-2xs hover:bg-core-light disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-core-light dark:bg-neutral-800 dark:text-neutral-300 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
                data-hs-overlay="#hs-pro-dmacm"
              >
                <svg
                  class="shrink-0 size-4"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <circle cx="12" cy="12" r="10"></circle>
                  <path d="M8 12h8"></path>
                  <path d="M12 8v8"></path>
                </svg>
                Agregar nuevo método
              </button>
            </div>
            <!-- End Footer -->
          </div>
          <!-- End Manage Cards Modal -->
        </div>
        <!-- End Grid -->

        <div class="border-t border-core-gray dark:border-neutral-700"></div>

        <!-- Table Section -->
        <div
          class="overflow-x-auto [&::-webkit-scrollbar]:h-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-core-light [&::-webkit-scrollbar-thumb]:bg-core-gray/50 dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500"
        >
          <div class="min-w-full inline-block align-middle">
            <!-- Table -->
            <table
              class="min-w-full divide-y divide-gray-200 dark:divide-neutral-700"
            >
              <thead>
                <tr>
                  <th scope="col" class="w-1/4">
                    <div
                      class="pe-4 py-3 text-start flex items-center gap-x-1 text-sm font-medium text-core-dark dark:text-neutral-200"
                    >
                      Invoice
                    </div>
                  </th>

                  <th scope="col" class="w-1/4">
                    <div
                      class="px-4 py-3 text-start flex items-center gap-x-1 text-sm font-medium text-core-dark dark:text-neutral-200"
                    >
                      Billing date
                    </div>
                  </th>

                  <th scope="col" class="w-1/4">
                    <div
                      class="px-4 py-3 text-start flex items-center gap-x-1 text-sm font-medium text-core-dark dark:text-neutral-200"
                    >
                      Amount
                    </div>
                  </th>

                  <th scope="col" class="w-1/4">
                    <div
                      class="px-4 py-3 text-start flex items-center gap-x-1 text-sm font-medium text-core-dark dark:text-neutral-200"
                    >
                      Plan
                    </div>
                  </th>

                  <th scope="col"> </th>
                </tr>
              </thead>

              <tbody class="divide-y divide-gray-200 dark:divide-neutral-700">
                <tr>
                  <td class="size-px whitespace-nowrap pe-4 py-3">
                    <div class="w-full flex items-center gap-x-2">
                      <svg
                        class="shrink-0 size-7"
                        width="400"
                        height="492"
                        viewBox="0 0 400 492"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g clip-path="url(#clip1)">
                          <path
                            d="M50.7496 -0.174609C22.9188 -0.174609 -0.0878906 22.4611 -0.0878906 50.6629V440.664C-0.0878906 468.495 22.5478 491.502 50.7496 491.502H349.095C376.926 491.502 399.932 468.866 399.932 440.664V119.683C399.932 119.683 400.675 110.406 396.593 101.129C392.882 92.5945 386.574 86.6573 386.574 86.6573L312.729 13.9263C312.729 13.9263 306.421 7.98906 297.144 3.90722C286.012 -0.916768 274.88 -0.174609 274.88 -0.174609H50.7496Z"
                            fill="currentColor"
                            class="fill-red-500"></path>
                          <path
                            d="M50.7494 16.5238H274.508C274.508 16.5238 283.414 16.5238 290.094 19.4924C296.402 22.09 300.855 26.1718 300.855 26.1718L374.699 98.5317C374.699 98.5317 379.152 103.356 381.378 108.18C383.234 112.262 383.234 119.312 383.234 119.312V119.683V441.035C383.234 459.96 368.02 475.174 349.095 475.174H50.7494C31.8245 475.174 16.6104 459.96 16.6104 441.035V50.6629C16.6104 31.738 31.8245 16.5238 50.7494 16.5238Z"
                            fill="currentColor"
                            class="fill-white dark:fill-neutral-800"></path>
                          <path
                            d="M99.7314 292.976C88.2281 281.472 100.845 265.887 134.242 248.818L155.393 238.427L163.557 220.245C168.009 210.226 175.06 193.898 178.771 184.25L185.45 166.439L180.626 153.08C174.689 136.752 172.833 112.261 176.544 103.356C181.368 91.4812 197.696 92.5944 204.004 105.582C209.199 115.601 208.457 133.784 202.52 156.791L197.696 175.715L202.148 183.137C204.375 187.219 211.425 196.867 217.363 204.288L228.866 218.389L242.967 216.534C288.238 210.597 303.452 220.616 303.452 235.088C303.452 253.27 267.829 254.755 238.143 233.974C231.464 229.15 227.011 224.698 227.011 224.698C227.011 224.698 208.457 228.408 199.18 231.006C189.532 233.603 185.079 235.088 170.978 239.912C170.978 239.912 166.154 246.962 162.814 252.157C150.94 271.453 137.21 287.038 127.191 292.976C117.172 298.171 105.669 298.542 99.7314 292.976ZM117.914 286.296C124.222 282.214 137.581 267 146.487 252.528L150.198 246.591L133.499 255.126C107.895 268.113 96.0207 280.359 101.958 287.781C105.298 291.862 109.75 291.491 117.914 286.296ZM285.27 239.541C291.578 235.088 290.836 226.182 283.414 222.471C277.848 219.502 273.395 219.131 258.923 219.131C250.017 219.874 235.916 221.358 233.319 222.1C233.319 222.1 241.112 227.666 244.451 229.522C248.904 232.119 260.407 236.943 268.571 239.541C276.735 242.138 281.559 242.138 285.27 239.541ZM217.734 211.339C214.023 207.257 207.344 199.093 203.262 192.785C197.696 185.735 195.098 180.911 195.098 180.911C195.098 180.911 191.016 193.527 188.048 201.32L178.029 226.182L175.06 231.748C175.06 231.748 190.645 226.553 198.438 224.698C206.972 222.471 223.671 219.131 223.671 219.131L217.734 211.339ZM196.211 124.507C197.324 116.343 197.696 108.18 195.098 104.098C187.677 96.3051 179.142 102.613 180.626 121.538C180.997 127.847 182.853 138.979 184.708 145.658L188.419 157.904L191.016 148.627C192.501 143.803 194.727 132.671 196.211 124.507Z"
                            fill="currentColor"
                            class="fill-red-500"></path>
                          <path
                            d="M119.398 346.04H137.952C143.889 346.04 148.713 346.782 152.424 347.895C156.135 349.008 159.104 351.606 161.701 355.316C164.299 359.027 165.412 363.851 165.412 369.046C165.412 373.87 164.299 378.323 162.443 381.663C160.217 385.374 157.619 387.971 154.28 389.455C150.94 390.94 145.374 391.682 138.323 391.682H132.015V420.997H119.398V346.04ZM132.015 355.688V382.034H138.323C143.889 382.034 147.6 380.921 149.827 379.065C152.053 376.839 153.166 373.499 153.166 369.046C153.166 365.707 152.424 362.738 150.94 360.512C149.456 358.285 147.971 357.172 146.487 356.43C145.003 356.059 142.034 355.688 138.694 355.688H132.015Z"
                            fill="currentColor"
                            class="fill-black dark:fill-white"></path>
                          <path
                            d="M175.431 346.04H192.501C200.664 346.04 207.344 347.524 212.168 350.492C216.992 353.461 220.702 357.543 223.3 363.48C225.898 369.046 227.011 375.726 227.011 382.405C227.011 389.827 225.898 396.506 223.671 402.072C221.445 407.638 218.105 412.462 213.281 415.802C208.828 419.513 202.149 420.997 193.243 420.997H175.431V346.04ZM187.677 356.059V411.349H192.872C200.293 411.349 205.488 408.751 208.828 403.927C212.168 398.732 213.652 392.053 213.652 383.889C213.652 365.336 206.602 356.059 192.872 356.059H187.677Z"
                            fill="currentColor"
                            class="fill-black dark:fill-white"></path>
                          <path
                            d="M238.885 346.04H280.816V356.059H251.501V378.694H274.879V388.713H251.501V421.368H238.885V346.04Z"
                            fill="currentColor"
                            class="fill-black dark:fill-white"></path>
                        </g>
                        <defs>
                          <clipPath id="clip1">
                            <rect width="400" height="491.75" fill="white"
                            ></rect>
                          </clipPath>
                        </defs>
                      </svg>

                      <div class="grow">
                        <span
                          class="text-sm font-medium text-core-dark dark:text-neutral-200"
                        >
                          25-02-2023
                        </span>
                      </div>
                    </div>
                  </td>
                  <td class="size-px whitespace-nowrap px-4 py-3">
                    <span class="text-sm text-core-gray dark:text-core-gray">
                      25 Feb, 2023
                    </span>
                  </td>
                  <td class="size-px whitespace-nowrap px-4 py-3">
                    <span class="text-sm text-core-gray dark:text-core-gray">
                      $39
                    </span>
                  </td>
                  <td class="size-px whitespace-nowrap px-4 py-3">
                    <span class="text-sm text-core-gray dark:text-core-gray">
                      Startup
                    </span>
                  </td>
                  <td class="size-px whitespace-nowrap px-4 py-3">
                    <div class="flex gap-x-2">
                      <button
                        type="button"
                        class="py-2 px-2.5 inline-flex items-center gap-x-1.5 text-xs font-medium rounded-lg border border-core-gray bg-core-light text-core-dark shadow-2xs hover:bg-core-light disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-core-light dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
                        data-hs-overlay="#hs-pro-dminvm"
                      >
                        View
                      </button>
                      <button
                        type="button"
                        class="size-8.5 inline-flex justify-center items-center gap-x-2 rounded-lg border border-core-gray bg-core-light text-core-dark shadow-2xs hover:bg-core-light disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-core-light dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
                      >
                        <svg
                          class="shrink-0 size-4"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"
                          ></path>
                          <polyline points="7 10 12 15 17 10"></polyline>
                          <line x1="12" x2="12" y1="15" y2="3"></line>
                        </svg>
                      </button>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td class="size-px whitespace-nowrap pe-4 py-3">
                    <div class="w-full flex items-center gap-x-2">
                      <svg
                        class="shrink-0 size-7"
                        width="400"
                        height="492"
                        viewBox="0 0 400 492"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g clip-path="url(#clip4)">
                          <path
                            d="M50.7496 -0.174609C22.9188 -0.174609 -0.0878906 22.4611 -0.0878906 50.6629V440.664C-0.0878906 468.495 22.5478 491.502 50.7496 491.502H349.095C376.926 491.502 399.932 468.866 399.932 440.664V119.683C399.932 119.683 400.675 110.406 396.593 101.129C392.882 92.5945 386.574 86.6573 386.574 86.6573L312.729 13.9263C312.729 13.9263 306.421 7.98906 297.144 3.90722C286.012 -0.916768 274.88 -0.174609 274.88 -0.174609H50.7496Z"
                            fill="currentColor"
                            class="fill-red-500"></path>
                          <path
                            d="M50.7494 16.5238H274.508C274.508 16.5238 283.414 16.5238 290.094 19.4924C296.402 22.09 300.855 26.1718 300.855 26.1718L374.699 98.5317C374.699 98.5317 379.152 103.356 381.378 108.18C383.234 112.262 383.234 119.312 383.234 119.312V119.683V441.035C383.234 459.96 368.02 475.174 349.095 475.174H50.7494C31.8245 475.174 16.6104 459.96 16.6104 441.035V50.6629C16.6104 31.738 31.8245 16.5238 50.7494 16.5238Z"
                            fill="currentColor"
                            class="fill-white dark:fill-neutral-800"></path>
                          <path
                            d="M99.7314 292.976C88.2281 281.472 100.845 265.887 134.242 248.818L155.393 238.427L163.557 220.245C168.009 210.226 175.06 193.898 178.771 184.25L185.45 166.439L180.626 153.08C174.689 136.752 172.833 112.261 176.544 103.356C181.368 91.4812 197.696 92.5944 204.004 105.582C209.199 115.601 208.457 133.784 202.52 156.791L197.696 175.715L202.148 183.137C204.375 187.219 211.425 196.867 217.363 204.288L228.866 218.389L242.967 216.534C288.238 210.597 303.452 220.616 303.452 235.088C303.452 253.27 267.829 254.755 238.143 233.974C231.464 229.15 227.011 224.698 227.011 224.698C227.011 224.698 208.457 228.408 199.18 231.006C189.532 233.603 185.079 235.088 170.978 239.912C170.978 239.912 166.154 246.962 162.814 252.157C150.94 271.453 137.21 287.038 127.191 292.976C117.172 298.171 105.669 298.542 99.7314 292.976ZM117.914 286.296C124.222 282.214 137.581 267 146.487 252.528L150.198 246.591L133.499 255.126C107.895 268.113 96.0207 280.359 101.958 287.781C105.298 291.862 109.75 291.491 117.914 286.296ZM285.27 239.541C291.578 235.088 290.836 226.182 283.414 222.471C277.848 219.502 273.395 219.131 258.923 219.131C250.017 219.874 235.916 221.358 233.319 222.1C233.319 222.1 241.112 227.666 244.451 229.522C248.904 232.119 260.407 236.943 268.571 239.541C276.735 242.138 281.559 242.138 285.27 239.541ZM217.734 211.339C214.023 207.257 207.344 199.093 203.262 192.785C197.696 185.735 195.098 180.911 195.098 180.911C195.098 180.911 191.016 193.527 188.048 201.32L178.029 226.182L175.06 231.748C175.06 231.748 190.645 226.553 198.438 224.698C206.972 222.471 223.671 219.131 223.671 219.131L217.734 211.339ZM196.211 124.507C197.324 116.343 197.696 108.18 195.098 104.098C187.677 96.3051 179.142 102.613 180.626 121.538C180.997 127.847 182.853 138.979 184.708 145.658L188.419 157.904L191.016 148.627C192.501 143.803 194.727 132.671 196.211 124.507Z"
                            fill="currentColor"
                            class="fill-red-500"></path>
                          <path
                            d="M119.398 346.04H137.952C143.889 346.04 148.713 346.782 152.424 347.895C156.135 349.008 159.104 351.606 161.701 355.316C164.299 359.027 165.412 363.851 165.412 369.046C165.412 373.87 164.299 378.323 162.443 381.663C160.217 385.374 157.619 387.971 154.28 389.455C150.94 390.94 145.374 391.682 138.323 391.682H132.015V420.997H119.398V346.04ZM132.015 355.688V382.034H138.323C143.889 382.034 147.6 380.921 149.827 379.065C152.053 376.839 153.166 373.499 153.166 369.046C153.166 365.707 152.424 362.738 150.94 360.512C149.456 358.285 147.971 357.172 146.487 356.43C145.003 356.059 142.034 355.688 138.694 355.688H132.015Z"
                            fill="currentColor"
                            class="fill-black dark:fill-white"></path>
                          <path
                            d="M175.431 346.04H192.501C200.664 346.04 207.344 347.524 212.168 350.492C216.992 353.461 220.702 357.543 223.3 363.48C225.898 369.046 227.011 375.726 227.011 382.405C227.011 389.827 225.898 396.506 223.671 402.072C221.445 407.638 218.105 412.462 213.281 415.802C208.828 419.513 202.149 420.997 193.243 420.997H175.431V346.04ZM187.677 356.059V411.349H192.872C200.293 411.349 205.488 408.751 208.828 403.927C212.168 398.732 213.652 392.053 213.652 383.889C213.652 365.336 206.602 356.059 192.872 356.059H187.677Z"
                            fill="currentColor"
                            class="fill-black dark:fill-white"></path>
                          <path
                            d="M238.885 346.04H280.816V356.059H251.501V378.694H274.879V388.713H251.501V421.368H238.885V346.04Z"
                            fill="currentColor"
                            class="fill-black dark:fill-white"></path>
                        </g>
                        <defs>
                          <clipPath id="clip4">
                            <rect width="400" height="491.75" fill="white"
                            ></rect>
                          </clipPath>
                        </defs>
                      </svg>
                      <div class="grow">
                        <span
                          class="text-sm font-medium text-core-dark dark:text-neutral-200"
                        >
                          25-01-2023
                        </span>
                      </div>
                    </div>
                  </td>
                  <td class="size-px whitespace-nowrap px-4 py-3">
                    <span class="text-sm text-core-gray dark:text-core-gray">
                      25 Jan, 2023
                    </span>
                  </td>
                  <td class="size-px whitespace-nowrap px-4 py-3">
                    <span class="text-sm text-core-gray dark:text-core-gray">
                      $39
                    </span>
                  </td>
                  <td class="size-px whitespace-nowrap px-4 py-3">
                    <span class="text-sm text-core-gray dark:text-core-gray">
                      Startup
                    </span>
                  </td>
                  <td class="size-px whitespace-nowrap px-4 py-3">
                    <div class="flex gap-x-2">
                      <button
                        type="button"
                        class="py-2 px-2.5 inline-flex items-center gap-x-1.5 text-xs font-medium rounded-lg border border-core-gray bg-core-light text-core-dark shadow-2xs hover:bg-core-light disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-core-light dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
                        data-hs-overlay="#hs-pro-dminvm"
                      >
                        View
                      </button>
                      <button
                        type="button"
                        class="size-8.5 inline-flex justify-center items-center gap-x-2 rounded-lg border border-core-gray bg-core-light text-core-dark shadow-2xs hover:bg-core-light disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-core-light dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
                      >
                        <svg
                          class="shrink-0 size-4"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"
                          ></path>
                          <polyline points="7 10 12 15 17 10"></polyline>
                          <line x1="12" x2="12" y1="15" y2="3"></line>
                        </svg>
                      </button>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td class="size-px whitespace-nowrap pe-4 py-3">
                    <div class="w-full flex items-center gap-x-2">
                      <svg
                        class="shrink-0 size-7"
                        width="400"
                        height="492"
                        viewBox="0 0 400 492"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g clip-path="url(#clip3)">
                          <path
                            d="M50.7496 -0.174609C22.9188 -0.174609 -0.0878906 22.4611 -0.0878906 50.6629V440.664C-0.0878906 468.495 22.5478 491.502 50.7496 491.502H349.095C376.926 491.502 399.932 468.866 399.932 440.664V119.683C399.932 119.683 400.675 110.406 396.593 101.129C392.882 92.5945 386.574 86.6573 386.574 86.6573L312.729 13.9263C312.729 13.9263 306.421 7.98906 297.144 3.90722C286.012 -0.916768 274.88 -0.174609 274.88 -0.174609H50.7496Z"
                            fill="currentColor"
                            class="fill-red-500"></path>
                          <path
                            d="M50.7494 16.5238H274.508C274.508 16.5238 283.414 16.5238 290.094 19.4924C296.402 22.09 300.855 26.1718 300.855 26.1718L374.699 98.5317C374.699 98.5317 379.152 103.356 381.378 108.18C383.234 112.262 383.234 119.312 383.234 119.312V119.683V441.035C383.234 459.96 368.02 475.174 349.095 475.174H50.7494C31.8245 475.174 16.6104 459.96 16.6104 441.035V50.6629C16.6104 31.738 31.8245 16.5238 50.7494 16.5238Z"
                            fill="currentColor"
                            class="fill-white dark:fill-neutral-800"></path>
                          <path
                            d="M99.7314 292.976C88.2281 281.472 100.845 265.887 134.242 248.818L155.393 238.427L163.557 220.245C168.009 210.226 175.06 193.898 178.771 184.25L185.45 166.439L180.626 153.08C174.689 136.752 172.833 112.261 176.544 103.356C181.368 91.4812 197.696 92.5944 204.004 105.582C209.199 115.601 208.457 133.784 202.52 156.791L197.696 175.715L202.148 183.137C204.375 187.219 211.425 196.867 217.363 204.288L228.866 218.389L242.967 216.534C288.238 210.597 303.452 220.616 303.452 235.088C303.452 253.27 267.829 254.755 238.143 233.974C231.464 229.15 227.011 224.698 227.011 224.698C227.011 224.698 208.457 228.408 199.18 231.006C189.532 233.603 185.079 235.088 170.978 239.912C170.978 239.912 166.154 246.962 162.814 252.157C150.94 271.453 137.21 287.038 127.191 292.976C117.172 298.171 105.669 298.542 99.7314 292.976ZM117.914 286.296C124.222 282.214 137.581 267 146.487 252.528L150.198 246.591L133.499 255.126C107.895 268.113 96.0207 280.359 101.958 287.781C105.298 291.862 109.75 291.491 117.914 286.296ZM285.27 239.541C291.578 235.088 290.836 226.182 283.414 222.471C277.848 219.502 273.395 219.131 258.923 219.131C250.017 219.874 235.916 221.358 233.319 222.1C233.319 222.1 241.112 227.666 244.451 229.522C248.904 232.119 260.407 236.943 268.571 239.541C276.735 242.138 281.559 242.138 285.27 239.541ZM217.734 211.339C214.023 207.257 207.344 199.093 203.262 192.785C197.696 185.735 195.098 180.911 195.098 180.911C195.098 180.911 191.016 193.527 188.048 201.32L178.029 226.182L175.06 231.748C175.06 231.748 190.645 226.553 198.438 224.698C206.972 222.471 223.671 219.131 223.671 219.131L217.734 211.339ZM196.211 124.507C197.324 116.343 197.696 108.18 195.098 104.098C187.677 96.3051 179.142 102.613 180.626 121.538C180.997 127.847 182.853 138.979 184.708 145.658L188.419 157.904L191.016 148.627C192.501 143.803 194.727 132.671 196.211 124.507Z"
                            fill="currentColor"
                            class="fill-red-500"></path>
                          <path
                            d="M119.398 346.04H137.952C143.889 346.04 148.713 346.782 152.424 347.895C156.135 349.008 159.104 351.606 161.701 355.316C164.299 359.027 165.412 363.851 165.412 369.046C165.412 373.87 164.299 378.323 162.443 381.663C160.217 385.374 157.619 387.971 154.28 389.455C150.94 390.94 145.374 391.682 138.323 391.682H132.015V420.997H119.398V346.04ZM132.015 355.688V382.034H138.323C143.889 382.034 147.6 380.921 149.827 379.065C152.053 376.839 153.166 373.499 153.166 369.046C153.166 365.707 152.424 362.738 150.94 360.512C149.456 358.285 147.971 357.172 146.487 356.43C145.003 356.059 142.034 355.688 138.694 355.688H132.015Z"
                            fill="currentColor"
                            class="fill-black dark:fill-white"></path>
                          <path
                            d="M175.431 346.04H192.501C200.664 346.04 207.344 347.524 212.168 350.492C216.992 353.461 220.702 357.543 223.3 363.48C225.898 369.046 227.011 375.726 227.011 382.405C227.011 389.827 225.898 396.506 223.671 402.072C221.445 407.638 218.105 412.462 213.281 415.802C208.828 419.513 202.149 420.997 193.243 420.997H175.431V346.04ZM187.677 356.059V411.349H192.872C200.293 411.349 205.488 408.751 208.828 403.927C212.168 398.732 213.652 392.053 213.652 383.889C213.652 365.336 206.602 356.059 192.872 356.059H187.677Z"
                            fill="currentColor"
                            class="fill-black dark:fill-white"></path>
                          <path
                            d="M238.885 346.04H280.816V356.059H251.501V378.694H274.879V388.713H251.501V421.368H238.885V346.04Z"
                            fill="currentColor"
                            class="fill-black dark:fill-white"></path>
                        </g>
                        <defs>
                          <clipPath id="clip3">
                            <rect width="400" height="491.75" fill="white"
                            ></rect>
                          </clipPath>
                        </defs>
                      </svg>
                      <div class="grow">
                        <span
                          class="text-sm font-medium text-core-dark dark:text-neutral-200"
                        >
                          25-12-2022
                        </span>
                      </div>
                    </div>
                  </td>
                  <td class="size-px whitespace-nowrap px-4 py-3">
                    <span class="text-sm text-core-gray dark:text-core-gray">
                      25 Dec, 2022
                    </span>
                  </td>
                  <td class="size-px whitespace-nowrap px-4 py-3">
                    <span class="text-sm text-core-gray dark:text-core-gray">
                      $39
                    </span>
                  </td>
                  <td class="size-px whitespace-nowrap px-4 py-3">
                    <span class="text-sm text-core-gray dark:text-core-gray">
                      Startup
                    </span>
                  </td>
                  <td class="size-px whitespace-nowrap px-4 py-3">
                    <div class="flex gap-x-2">
                      <button
                        type="button"
                        class="py-2 px-2.5 inline-flex items-center gap-x-1.5 text-xs font-medium rounded-lg border border-core-gray bg-core-light text-core-dark shadow-2xs hover:bg-core-light disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-core-light dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
                        data-hs-overlay="#hs-pro-dminvm"
                      >
                        View
                      </button>
                      <button
                        type="button"
                        class="size-8.5 inline-flex justify-center items-center gap-x-2 rounded-lg border border-core-gray bg-core-light text-core-dark shadow-2xs hover:bg-core-light disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-core-light dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
                      >
                        <svg
                          class="shrink-0 size-4"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"
                          ></path>
                          <polyline points="7 10 12 15 17 10"></polyline>
                          <line x1="12" x2="12" y1="15" y2="3"></line>
                        </svg>
                      </button>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td class="size-px whitespace-nowrap pe-4 py-3">
                    <div class="w-full flex items-center gap-x-2">
                      <svg
                        class="shrink-0 size-7"
                        width="400"
                        height="492"
                        viewBox="0 0 400 492"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g clip-path="url(#clip2)">
                          <path
                            d="M50.7496 -0.174609C22.9188 -0.174609 -0.0878906 22.4611 -0.0878906 50.6629V440.664C-0.0878906 468.495 22.5478 491.502 50.7496 491.502H349.095C376.926 491.502 399.932 468.866 399.932 440.664V119.683C399.932 119.683 400.675 110.406 396.593 101.129C392.882 92.5945 386.574 86.6573 386.574 86.6573L312.729 13.9263C312.729 13.9263 306.421 7.98906 297.144 3.90722C286.012 -0.916768 274.88 -0.174609 274.88 -0.174609H50.7496Z"
                            fill="currentColor"
                            class="fill-red-500"></path>
                          <path
                            d="M50.7494 16.5238H274.508C274.508 16.5238 283.414 16.5238 290.094 19.4924C296.402 22.09 300.855 26.1718 300.855 26.1718L374.699 98.5317C374.699 98.5317 379.152 103.356 381.378 108.18C383.234 112.262 383.234 119.312 383.234 119.312V119.683V441.035C383.234 459.96 368.02 475.174 349.095 475.174H50.7494C31.8245 475.174 16.6104 459.96 16.6104 441.035V50.6629C16.6104 31.738 31.8245 16.5238 50.7494 16.5238Z"
                            fill="currentColor"
                            class="fill-white dark:fill-neutral-800"></path>
                          <path
                            d="M99.7314 292.976C88.2281 281.472 100.845 265.887 134.242 248.818L155.393 238.427L163.557 220.245C168.009 210.226 175.06 193.898 178.771 184.25L185.45 166.439L180.626 153.08C174.689 136.752 172.833 112.261 176.544 103.356C181.368 91.4812 197.696 92.5944 204.004 105.582C209.199 115.601 208.457 133.784 202.52 156.791L197.696 175.715L202.148 183.137C204.375 187.219 211.425 196.867 217.363 204.288L228.866 218.389L242.967 216.534C288.238 210.597 303.452 220.616 303.452 235.088C303.452 253.27 267.829 254.755 238.143 233.974C231.464 229.15 227.011 224.698 227.011 224.698C227.011 224.698 208.457 228.408 199.18 231.006C189.532 233.603 185.079 235.088 170.978 239.912C170.978 239.912 166.154 246.962 162.814 252.157C150.94 271.453 137.21 287.038 127.191 292.976C117.172 298.171 105.669 298.542 99.7314 292.976ZM117.914 286.296C124.222 282.214 137.581 267 146.487 252.528L150.198 246.591L133.499 255.126C107.895 268.113 96.0207 280.359 101.958 287.781C105.298 291.862 109.75 291.491 117.914 286.296ZM285.27 239.541C291.578 235.088 290.836 226.182 283.414 222.471C277.848 219.502 273.395 219.131 258.923 219.131C250.017 219.874 235.916 221.358 233.319 222.1C233.319 222.1 241.112 227.666 244.451 229.522C248.904 232.119 260.407 236.943 268.571 239.541C276.735 242.138 281.559 242.138 285.27 239.541ZM217.734 211.339C214.023 207.257 207.344 199.093 203.262 192.785C197.696 185.735 195.098 180.911 195.098 180.911C195.098 180.911 191.016 193.527 188.048 201.32L178.029 226.182L175.06 231.748C175.06 231.748 190.645 226.553 198.438 224.698C206.972 222.471 223.671 219.131 223.671 219.131L217.734 211.339ZM196.211 124.507C197.324 116.343 197.696 108.18 195.098 104.098C187.677 96.3051 179.142 102.613 180.626 121.538C180.997 127.847 182.853 138.979 184.708 145.658L188.419 157.904L191.016 148.627C192.501 143.803 194.727 132.671 196.211 124.507Z"
                            fill="currentColor"
                            class="fill-red-500"></path>
                          <path
                            d="M119.398 346.04H137.952C143.889 346.04 148.713 346.782 152.424 347.895C156.135 349.008 159.104 351.606 161.701 355.316C164.299 359.027 165.412 363.851 165.412 369.046C165.412 373.87 164.299 378.323 162.443 381.663C160.217 385.374 157.619 387.971 154.28 389.455C150.94 390.94 145.374 391.682 138.323 391.682H132.015V420.997H119.398V346.04ZM132.015 355.688V382.034H138.323C143.889 382.034 147.6 380.921 149.827 379.065C152.053 376.839 153.166 373.499 153.166 369.046C153.166 365.707 152.424 362.738 150.94 360.512C149.456 358.285 147.971 357.172 146.487 356.43C145.003 356.059 142.034 355.688 138.694 355.688H132.015Z"
                            fill="currentColor"
                            class="fill-black dark:fill-white"></path>
                          <path
                            d="M175.431 346.04H192.501C200.664 346.04 207.344 347.524 212.168 350.492C216.992 353.461 220.702 357.543 223.3 363.48C225.898 369.046 227.011 375.726 227.011 382.405C227.011 389.827 225.898 396.506 223.671 402.072C221.445 407.638 218.105 412.462 213.281 415.802C208.828 419.513 202.149 420.997 193.243 420.997H175.431V346.04ZM187.677 356.059V411.349H192.872C200.293 411.349 205.488 408.751 208.828 403.927C212.168 398.732 213.652 392.053 213.652 383.889C213.652 365.336 206.602 356.059 192.872 356.059H187.677Z"
                            fill="currentColor"
                            class="fill-black dark:fill-white"></path>
                          <path
                            d="M238.885 346.04H280.816V356.059H251.501V378.694H274.879V388.713H251.501V421.368H238.885V346.04Z"
                            fill="currentColor"
                            class="fill-black dark:fill-white"></path>
                        </g>
                        <defs>
                          <clipPath id="clip2">
                            <rect width="400" height="491.75" fill="white"
                            ></rect>
                          </clipPath>
                        </defs>
                      </svg>
                      <div class="grow">
                        <span
                          class="text-sm font-medium text-core-dark dark:text-neutral-200"
                        >
                          25-11-2022
                        </span>
                      </div>
                    </div>
                  </td>
                  <td class="size-px whitespace-nowrap px-4 py-3">
                    <span class="text-sm text-core-gray dark:text-core-gray">
                      25 Nov, 2022
                    </span>
                  </td>
                  <td class="size-px whitespace-nowrap px-4 py-3">
                    <span class="text-sm text-core-gray dark:text-core-gray">
                      $39
                    </span>
                  </td>
                  <td class="size-px whitespace-nowrap px-4 py-3">
                    <span class="text-sm text-core-gray dark:text-core-gray">
                      Startup
                    </span>
                  </td>
                  <td class="size-px whitespace-nowrap px-4 py-3">
                    <div class="flex gap-x-2">
                      <button
                        type="button"
                        class="py-2 px-2.5 inline-flex items-center gap-x-1.5 text-xs font-medium rounded-lg border border-core-gray bg-core-light text-core-dark shadow-2xs hover:bg-core-light disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-core-light dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
                        data-hs-overlay="#hs-pro-dminvm"
                      >
                        View
                      </button>
                      <button
                        type="button"
                        class="size-8.5 inline-flex justify-center items-center gap-x-2 rounded-lg border border-core-gray bg-core-light text-core-dark shadow-2xs hover:bg-core-light disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-core-light dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
                      >
                        <svg
                          class="shrink-0 size-4"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"
                          ></path>
                          <polyline points="7 10 12 15 17 10"></polyline>
                          <line x1="12" x2="12" y1="15" y2="3"></line>
                        </svg>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- End Table -->
          </div>
        </div>
        <!-- End Table Section -->
      </div>
    </div>
    <!-- End Account Card -->
  </div>
</main>
